.indeximg {
	background: url('/cms/img/anhbia.jpg') no-repeat center fixed;
	height:600px;
	background-size: cover;
}

.background_markus_color {
	background-color: #f5f5f5;
	padding-top: 10px;
}

.item {
	background-color: #f5f5f5;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.syllabus {
	margin-top: 40px;
}

.join_us {

}

.join_us{
	padding: 0 0 165px 0;
}

.join_us_2{
	padding: 0 0 60px 0;
}

.center_inline_list{
	margin-top: 0px;
}

.boder_radius_1{
	border-radius: 12px;
}

.center_inline_list_2{
	margin-top: 200px;
}

.set_width_and_align{
	min-width: 20%;
	text-align: center;
}

.stars_2{
	background-image: url("../img/background3.jpg")
}

.font_color{
	color: white;
}

.partners_1{
	margin : 0px;
}

.justify{
	text-align: justify;
}
