doctype html
html
  head
    meta(charset='utf-8')
    title Page Title
    link(rel='stylesheet', type='text/css', href='themes/index.css')
  body
    #logo
      h1
        i Login
    section.stark-login
      form(action='', method='')
        #fade-box
          input#username(type='text', name='username', placeholder='Thay đổi thế giới', required='')
          input(type='password', placeholder='bằng kiến thưc', required='')
          button Log In
      .hexagons
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        br
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        br
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        br
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        br
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
        span ⬢
    #circle1
      #inner-cirlce1
        h2  
    ul
      li
      li
      li
      li
      li
