extends ../layout
block content
  section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 VỀ CHÚNG TÔI
          p.section_subtitle Code the change
    section#about
      .container
        .row
          .col-md-8.col-md-offset-2
            h3.column_title Giới thiệu chung
            p
              | Chúng tôi ở đây để tạo ra những con người có thể thay đổi thế giới. TechKids không phải là một trung tâm đi dạy Lập trình kiếm tiền, hay một trường học chỉ đọc – chép từ bao thế hệ. Đây là một cộng đồng toàn cầu của những người sẵn sàng trở thành những người giỏi nhất, khác biệt nhất trong thế giới Công nghệ. Ở đó chúng ta cùng nhau tìm định hướng, học hỏi hết mình, khơi dậy những ước mơ, cố gắng không ngừng và đồng hành với nhau trên hành trình chinh phục Công nghệ cao để thay đổi thế giới!
            p
              em
                | TechKids hiện tại trực thuộc Tổ chức Giáo dục vì cộng đồng 
                a(href='http://iliat.org/') ILIAT SCHOOL
                |  với 1200+ thành viên đến từ những trường Đại học và công ty về Công nghệ – Kinh tế – Kinh doanh danh giá nhất trên thế giới: Harvard, Stanford, Oxford,…hay Unilever, Uber, Grabtaxi...
    section#socials.socials
      .container
        .row
          .col-sm-6.col-md-4.col-md-offset-2.socials_description Kết nối với TechKids
          .col-sm-6.col-md-4.socials_list
            a.fa.fa-envelope.col-sm-2(href='mailto:techkidsvn@gmail.com')
            a.fa.fa-skype.col-sm-2(href='skype:techkidsvn?chat')
            a.fa.fa-phone-square.col-sm-2(href='tel:+841653005670')
            a.fa.fa-facebook-square.col-sm-2(href='https://www.facebook.com/Techkids.Code.the.Change', target='_blank')
    section
      .container
        .row
          .col-md-8.col-md-offset-2
            h3#about.column_title Tìm TechKids tại
            ul
              li
                strong TechHub Chùa Láng: 
                |  Số 10, ngõ 121, Chùa Láng
              li
                strong TechHub Chùa Bộc:
                |  Số 101D, ngõ 95 Chùa Bộc.
              div
    section#path.stars
      .container#sumenh-tamnhin
        .row.fade_up
          h3.section_title.text-center.col-sm-5.col-xs-9
            | Sứ mệnh, tầm nhìn,
            br
            | giá trị cốt lõi
    section
      .container
        .row
          .col-md-8.col-md-offset-2
            h3#about.column_title Sứ mệnh
            p
              | Chúng tôi tạo ra và kết nối thế hệ những Lập trình viên trẻ tài năng, nhiệt huyết, cùng họ mang đến một thế giới tốt đẹp hơn bằng sức mạnh của Công nghệ hiện đại. Chúng tôi tin rằng, những người lãnh đạo công nghệ trong tương lai ấy cần có không chỉ là khả năng chuyên môn xuất sắc, mà còn là ngoại ngữ, kỹ năng mềm, tầm nhìn toàn cầu và tinh thần khởi nghiệp. Với những chương trình giáo dục toàn diện, khác biệt, với sức mạnh của cộng đồng, chúng tôi khao khát không chỉ thay đổi tương lai Việt Nam, các nước ASEAN, mà còn dịch chuyển cả thế giới này.
            h3#about.column_title Tầm nhìn
            p
              | Trở thành một trong các tổ chức giáo dục lớn nhất ở Việt Nam và ASEAN trong lĩnh vực công nghệ, cung cấp cho học viên và cộng đồng những trải nghiệm giáo dục tốt nhất trong khu vực, nâng tầm trình độ nhân lực của đất nước. Cùng với cộng đồng về Kinh doanh – Kinh tế hàng nghìn thành viên ưu tú nhất đến từ các trường ĐH, công ty, dự án danh giá nhất trên thế giới ILIAT SCHOOL góp phần vào sự phát triển của nền kinh tế tri thức và tương lai của Việt Nam.
            h3#about.column_title Giá trị cốt lõi
            ol
              li
                h4 Nỗ lực để trở nên xuất sắc
                p
                  | Những thành viên của cộng đồng TechKids từ chối cuộc sống bình thường của một sinh viên lập trình điển hình: sáng tới trường ngủ, tối cày game, ra trường xin được một công việc đủ ăn đã là tốt lắm rồi! Cộng đồng của chúng tôi luôn hướng tới hoàn thiện bản thân từ khả năng chuyên môn, kỹ năng mềm, tiếng Anh, thái độ cầu tiến và sự cố gắng tuyệt đối để trở thành một Lập trình viên xuất sắc không chỉ ở tầm Việt Nam, mà còn với tầm quốc tế
                p Giỏi là chuyện phải làm, rất giỏi mới thực sự đáng khen.
              li
                h4 Sẻ chia để làm những điều tuyệt vời hơn
                p
                  | Cộng đồng Công nghệ ở Việt Nam còn quá rời rạc, nhỏ lẻ; bản thân Lập trình viên cũng có xu hướng thu mình để làm việc độc lập. Tuy nhiên, chúng tôi tin rằng, để làm được một điều gì đó lớn lao, sẽ thật tuyệt nếu có những người anh em cùng sát cánh. Từ một ngôi nhà mang tên TechKids, chúng tôi hướng tới xây dựng một cộng đồng công nghệ trong khu vựcASEAN và toàn cầu, kết nối với nhau bằng khát vọng chung, sự giúp đỡ tận tâm và niềm tin vững chắc. Nếu cả thế giới này quay lưng lại với thất bại của bất kì ai, chúng tôi sẽ là người đầu tiên cho họ những cơ hội tiếp theo để đứng lên và bước tiếp
                p Đừng sợ hãi, bạn không bao giờ phải đứng một mình!
              li
                h4 Công nghệ thuần túy là không đủ để thay đổi thế giới
                p
                  | Với cộng đồng Kinh doanh – Kinh tế – Tài chính ILIAT SCHOOL của 1200+ thành viên ưu tú nhất đến từ các công ty và ĐH hàng đầu thế giới như Harvard, Standford, Oxford,…. hay P&G, Unilever, Big4… cũng như đến từ cộng đồng Khởi nghiệp chúng tôi đã nỗ lực xây dựng trong suốt 2 năm qua, TechKids sẽ đi cùng với họ để thực hiện những ý tưởng lớn sau này.
                p Mở rộng tầm nhìn của mình, chúng ta sẽ thấy một thế giới khác!
