extends layout
block content
  section
    .container
      hr(style="height:50px").content_divider
      div(style="text-align:center")
        a(href='/articles/1')
          img(src='cms/img/chiasesach.jpg')
        hr.content_divider
      div(style="text-align:justify")  
        h1
          | Chào các bạn
        P  
          | TechKids xin gửi tới các bạn những quyển ebook  khá hữu dụng để bạn có thể học một số kỹ năng cần thiết nhé.
          | Download 
          a(href='https://drive.google.com/drive/u/0/folders/0BxuJ3wWBgH7ZcVVFVWFIeEtsTnc') TẠI ĐÂY.
        p  
          | P/s: Có rất nhiều bạn lo ngại rằng tiếng Anh không đủ để đọc những cuốn sách bằng tiếng Anh, nếu biết vậy, thì học tiếng Anh đi. Học Lập trình mà không biết tiếng Anh (ít nhất là đọc hiểu) thì tù lắm. Chính vì vậy, trong tất cả các chương trình học Lập trình của TechKids, chúng mình đều bắt buộc tất cả học viên học tiếng Anh (miễn phí) trong 1-2 tháng đầu tiên để có kiến thức cơ bản và phương pháp tự học.
        p  
          | Sắp tới TechKids sẽ chia sẻ với các bạn một số bài viết, tài liệu về tại sao lại cần học tiếng Anh, một số phương pháp cho dân IT nhé.
        p  
          | Trước mắt TechKids cùng CLB ILEC trường ĐH Bách Khoa Hà Nội tổ chức sự kiện English and IT: Why, How, What. Bạn nào quan tâm thì có thể tham gia :D
        p  
          | Cảm ơn các bạn. Hẹn gặp lại trong các chương trình sau nhé!
