extend layout
block content
    section.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Liên hệ với chúng tôi
    //- iframe.contact_map(src='https://www.google.com/maps/d/embed?mid=zleZxJEOPb-4.kRRzhltn_Ri0')
    section
      .container
        .row
          .col-md-8.col-md-offset-2
            hr.content_divider
            ul
              li
                em Tech Hub Chùa Bộc:
                |  Số 101D, ngõ 95 Chùa Bộc.
              li
                em Tech Hub Chùa Láng:
                |  Số 28/10, ngõ 121 Chùa Láng
            hr.content_divider
            p
              | Điện thoại: Ms. Hà 
              a(href='tel:+841653005670') 0165 300 5670
            p
              | Email: 
              a(href='Techkidsvn@gmail.com') Techkidsvn@gmail.com
            p
              | Facebook: 
              a(href='https://www.facebook.com/Techkids.Code.the.Change') Techkids.Code.the.Change
