extends layout
block content
  section#page_title.page_title.stars
    .container
      .row.fade_up.text-center
        h3.section_title.col-sm-5.col-xs-9 CÁC KHÓA HỌC
        p.section_subtitle Không đơn giản chỉ là dạy và học
  section
    .container.articles_list
      hr.content_divider
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/khoa-hoc/ios')
              img(src='cms/img/ios.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/khoa-hoc/ios') Khoá học Lập trình iOS
          div
            p
              | Lý do nên chọn iOS từ chia sẻ của Mr Đạt (Director tại Plumgame)
            p
              | Ý các bạn trẻ không có điều kiện để học iOS là gì nhỉ?
            p
              | Không có máy Mac? iPhone? Anh suốt từ thời năm nhất (7,8 năm trước) đã cài qua hơn chục loại
            p
              | Hackintosh(/ubuntu/fedora/centos...) lên Lap Lenovo/asus, thức đêm thức ngày cài vì hồi đó ít driver hỗ trợ, cài toàn lỗi hoặc lên được thì lỗi mạng, lỗi sound... Đến tận hết năm 4 ra trường đi làm anh mới được dùng máy Macbook Pro (của công ty)
            p 
              | Bây giờ thời các em thì có Mac/iPhone dễ hơn nhiều rồi, giá không hơn 1 con lap bình thường là bao. <br>
              |Quan trọng nhất là, trong bất kì việc gì, nếu không chịu đầu tư, kể cả là chất xám, tâm huyết, thời gian hay trang thiết bị thì các em không thể đòi hỏi một kết quả tốt được. Vậy nên, nếu yêu thích Apple, iOS, hay Objective-C,...thì đơn giản là quất thôi :D <br>
          a.see_more_link(href='/khoa-hoc/ios')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/khoa-hoc/android')
              img(src='cms/img/android.png')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/khoa-hoc/android') Khoá học Lập trình Android
          div
            p
              | Lý do nên chọn Android từ chia sẻ của Mr Cảnh (PM Fsoft)
            p
              | - Thích, giỏi ngôn ngữ nào hơn: Java hay objective C. Nếu Java thì chọn Android. Chi phí ban đầu cho Android ~ 0$, iOS ~ 100$ <br>
              | - Nhu cầu tuyển dụng: iOS 1 phần, Android 2-3 phần. Khách hàng doanh nghiệp đang chịu chi cho Android hơn iOS <br>
              | - Dev iOS không có điều kiện để làm dự án siêu to, siêu khủng. Team size thường dừng lại ở mức 3-15 người. 1 Team Android thì có thể size từ 3-300 người
            p
              | Chẳng cái nào trong iOS hay Android hứa hẹn đem lại cho các bạn thu nhập hay công việc cả đời cả. Vì thế: cái quan trọng là khả năng tư duy của các bạn, ngôn ngữ lập trình đơn giản chỉ là cái thể hiện suy nghĩ của các bạn lên màn hình thôi. Và ở thằng học & đang đọc dòng này thích gì và có dám sống hết mình với đam mê không? <br>
          
          a.see_more_link(href='/khoa-hoc/android')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/khoa-hoc/web-fullstack')
              img(src='cms/img/Full-Stack-logo.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/khoa-hoc/web-fullstack') Khóa học Lập trình Full-stack Web
          div
            p
              |  Sau khi thông báo về khóa học Full-stack web developer trung bình 2 tuần, một lớp ở TechKids sẽ đủ slot. Sau khi 1 lớp tốt nghiệp, các công ty thường vào tranh nhau "xin" học viên.
            p
              | Khóa học này trang bị cho học viên có đủ kỹ năng cần thiết để trở thành 1 full-stack web dev ở các công ty IT/dự án toàn cầu. Hoặc tự làm sản phẩm của mình, khởi nghiệp vừa và nhỏ. Techkids đảm bảo đầu ra cho tất cả các học viên của mình.
            p
              | Khóa học này nhằm tìm ra, phát triển và kết nối những kỹ sư tài năng tương lai, không chỉ về kỹ năng Lập trình, mà còn là thái độ, kỹ năng giải quyết vấn đề, làm việc nhóm và tư duy phát triển sản phẩm. <br>
          
          a.see_more_link(href='/khoa-hoc/web-fullstack')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/khoa-hoc/code-for-everyone')
              img(src='cms/img/Untitled.png')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/khoa-hoc/code-for-everyone') Khóa học Lập trình cho tất cả mọi người (C4E)
          div
            p
              | “Tất cả mọi người nên học Lập trình, bởi Lập trình dạy bạn cách tư duy” – Steve Jobs.
            p
              | Nếu bạn coi máy tính và internet là một phần cuộc sống của mình, thì TechKids tin học Lập trình là học cách làm cuộc sống của bạn tốt đẹp hơn: Hiệu quả hơn, tiết kiệm thời gian, công sức, tiền bạc và thú vị hơn rất nhiều!
            p
              |Khóa học dành cho những người chưa biết gì về lập trình. Đặc biệt dành cho non-Techs (không học Công nghệ thông tin), trẻ em, phụ nữ.
            //- p
            //-   | Vậy nên, TechKids tiên phong khởi động chương trình “CODE FOR EVERYONE” để giúp tất cả người Việt có cơ hội học Lập trình một cách dễ dàng, thân thiện, khác biệt và hiệu quả.
          a.see_more_link(href='/khoa-hoc/code-for-everyone')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/khoa-hoc/code-for-kids')
              img(src='cms/img/code for kids.png')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/khoa-hoc/code-for-kids') Khóa học Lập trình cho trẻ em(C4K)
          div
            p
              | “Tất cả trẻ em trên toàn cầu nên học Lập trình” - Barack Obama.
            p
              | Những người xuất chúng như Bill Gates, Steve Jobs, Mark Zuckerberg,... đều nói rằng trẻ em nên học Lập trình càng sớm càng tốt! 
            p
              | Nhiều người vẫn nghĩ, lý do chính là vì Lập trình viên là nghề “hot”, ngành CNTT đang nổi lên như 1 hiện tượng có thể giải cứu thế giới. Thế nhưng, hơn thế nữa, với những đứa trẻ, có những lý do quan trọng hơn như Phát triển tư duy, Làm giàu các kỹ năng sống, Rèn luyện thái độ sống,...
            p
              | Trong 1 khảo sát, 90% bố mẹ ở Mỹ muốn Lập trình là một bộ môn chính trong trường học. Đó là lý do TechKids đã tạo ra chương trình Code for Kids, không chỉ với mục đích tìm kiếm, khám phá những đam mê của những đứa trẻ, mà còn giúp các em hoàn thiện chính bản thân mình.
          a.see_more_link(href='/khoa-hoc/code-for-everyone')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/summer-code-camp')
              img(src='cms/img/summer-code-camp.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/summer-code-camp') Trại hè Lập trình (SCC)
          div
            p
              | Một tháng hè bạn có thể sống và code say mê nhất.
            p
              | Một tháng có thể thay đổi cuộc đời bạn!
            p
              | Một tháng nghỉ hè có thể biến tất cả những trải nghiệm học mấy năm Đại học của bạn trở thành vô nghĩa. Hoặc giúp bạn chuyển công việc nhanh nhất có thể. <br> <br>
            p
              | Đó là Summer code camp - Trại hè Lập trình 2016, chương trình được đón đợi nhất hè này của TechKids. 
            p
              | Bạn sẽ học như chưa từng bao giờ được học, code như chưa từng bao giờ được code.
          a.see_more_link(href='/summer-code-camp')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
