extends layout
block content
  section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Thông tin
          p.section_subtitle Khóa học lập trình web Fullstack
    section
      .container
        hr.content_divider
        article.row
          aside.course_summary.fly_right_md.col-md-3
            h3.column_title Tóm lược
            p
              | Chúng tôi không chỉ dạy về lập trình, chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
            p
              i.fa.fa-calendar
              em  Lịch khai giảng
              span.pull-right 23/04/2016
            hr.sub_divider
            p
              i.fa.fa-clock-o
              em  Thời gian học
              div Tối thứ 4,6 (19h30-21h30) chiều chủ nhật (14h-16h)
            hr.sub_divider
            p
              i.fa.fa-level-up
              em  Thời lượng học
              div 5 tháng. 3 buổi học chính/tuần
            hr.sub_divider
            p
              i.fa.fa-credit-card
              em  5 Học bổng tài năng
              span.pull-right 50-100%
            p.price_tag
              | 5.500.000
              sup đ
            a.btn.btn-primary.btn-block(href='https://docs.google.com/forms/d/1HXKQZnDZGsWX-flPhfFr0CylnVfOUM_32Ehsk3qOVTU/viewform') Đăng ký tại đây
            hr
            h3.column_title Giảng viên
            ul.users_list
              li
                .user_thumbnail
                  a(href="/instructors/3")
                    img(src="/cms/img/doanhtu.jpg")
                h5
                  a(href="/instructors/3") Đỗ anh Tú
                p Co-founder at Haivl.com
              li
                .user_thumbnail
                  a(href="/instructors/4")
                    img(src="/cms/img/dat.jpg")
                h5
                  a(href="/instructors/4") Nguyễn Tiến Đạt
                p Director at PlumGame
          .col-md-9.fly_right_md
            img.title_image(src="/cms/img/fullstack.png")
            section
              .article_title_wrapper.row
                h3.section_title.col-sm-5.col-xs-9 Thông tin khóa học
              h2(style='text-align: center;')
                strong
                  span(style='color: #555555;') 1. Tại sao bạn nên học ở TechKids
              p(style='text-align: center;')
                strong
                  span(style='color: #ff0000;')
                    | Chúng tôi không chỉ dạy về lập trình, chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
              p
                strong MỤC ĐÍCH KHÓA HỌC:
              p
                span(style='font-weight: 400;')             Có đủ kỹ năng cần thiết để làm việc ở các công ty IT/dự án toàn cầu.
              p
                span(style='font-weight: 400;')             Tự làm sản phẩm, khởi nghiệp vừa và nhỏ
              p  
              p
                span(style='font-weight: 400;')
                  strong THỜI GIAN RÈN LUYỆN:
                  |  5 tháng
              p
                span(style='font-weight: 400;')
                  | 1 tháng đầu: học Tiếng Anh (Miễn phí). Có thể tự làm được 1 game hoàn chỉnh. Sử dụng được tiếp Anh giao tiếp cơ bản.
              p
                span(style='font-weight: 400;')
                  | 2 tháng tiếp theo: 2 tuần đầu: học kiến thức Lập trình kèm theo assignment. Đến tuần thứ 3: Vừa học vừa làm 1 dự án giả lập hoàn chỉnh.
              p
                span(style='font-weight: 400;')
                  | 2 tháng cuối cùng: Làm dự án THẬT của 1 công ty đối tác dưới sự hướng dẫn của Giảng viên và trợ giảng.
              p
                span(style='font-weight: 400;')
                  | Kết thúc khóa: Có thể làm sản phẩm thật hoàn chỉnh và có công việc (không kể tuổi tác) hoặc kiếm được thu nhập riêng.
              p  
              p
                strong MỘT SỐ ĐIỂM LƯU Ý:
              p
                span(style='font-weight: 400;')
                  strong             TechKids có hơn 30 đối tác
                  |  là các công ty lớn trong nước và ở ASEAN, US (xin được giấu tên) sẽ gửi dự án cho TechKids và nhận học viên của TechKids (fulltime/parttime)
              p
                strong             TechKids hỗ trợ tất cả khoản ăn, ngủ, ở tại TechKids.
              p
                span(style='font-weight: 400;')
                  strong             Học bổng
                  |  cho những bạn có tiềm năng và thái độ tốt nhất. Gen 1 đã nhận được 1 Học bổng 100%, 3 50%, 3 30% và còn lại 1 số nhận được hỗ trợ 10-20%. Nôp CV/Resume và thư xin học bổng vào email 
                  a(href='mailto:Techkids.vietnam@gmail.com') Techkidsvn@gmail.com
                  |  hoặc điền 
                  strong
                  //-   a(href='https://docs.google.com/forms/d/1jTAD88drU1KXhzINYQ8eMBZQmmWHGvHe68bXOmUOB-s/viewform?usp=send_form', target='_blank') ONLINE FORM
                  //- | . Đọc thêm thông tin
                  strong
                    a(href='https://docs.google.com/forms/d/1jTAD88drU1KXhzINYQ8eMBZQmmWHGvHe68bXOmUOB-s/viewform', target='_blank')  TẠI ĐÂY
                  | .
              p Luôn có phần thưởng cho sự nỗ lực!
              p
                span(style='color: #555555;')
                  b             Học kỹ năng cần thiết
                span(style='font-weight: 400;')
                  | cho 1 Lập trình viên, tất cả học viên sẽ được nhận được Học bổng 100% 5 khóa học khác: 1. Tiếng Anh giao tiếp, 3. Kĩ thuật design mobile apps,  4. Đào tạo về tuyển dụng, 5. Cách khởi nghiệp với Mobile app thành công .
              p
                span(style='color: #555555;')
                  b             Tăng kỹ năng mềm
                span(style='font-weight: 400;')
                  | (Giao tiếp, làm việc nhóm, khởi nghiệp,…) bằng các hoạt động chung với Cộng đồng ILIAT SCHOOL 1200+ thành viên đến từ những trường Đh và công ty về Công nghệ – Kinh tế – Kinh doanh danh giá nhất trên thế giới: Harvard, Stanford, Oxford,…hay Unilever, Uber, Grabtaxi,….
              p  
              p
                span(style='color: #555555;')
                  strong BẠN CHỜ ĐỢI ĐIỀU GÌ TRƯỚC KHÓA HỌC:
              p(style='padding-left: 60px;')
                b Đội ngũ giảng viên và trợ giảng có trình độ quốc tế
                span(style='font-weight: 400;')
                  | , cùng với TechKids xây dựng một cộng đồng IT-ers trong khu vực ASEAN để đồng hành với từng cá nhân trong sự nghiệp sau này.
              p(style='padding-left: 60px;')
                span(style='color: #555555;')
                  b Truyền cảm hứng và khuyến khích sự sáng tạo
                  span(style='font-weight: 400;')
                    | , chủ động, khác biệt của từng học viên trong môi trường cực kỳ năng động, cởi mở. Chúng tôi TỪ CHỐI KIỂU HỌC THỤ ĐỘNG, CẦM THAY CHỈ VIỆC. Giáo dục Việt Nam đã sai lầm quá đủ rồi!
              p(style='padding-left: 60px;')
                span(style='color: #555555;')
                  b Chi phí cực kỳ thấp (chỉ bằng 1/2 thông thường)
                  span(style='font-weight: 400;')
                    span(style='font-weight: 400;')
                      | : 5.500.000vnd/5 tháng học tập và làm việc tại TechHub. Mọi chi phí đóng góp của các bạn đủ để chúng tôi trả các chi phí vận hành và trao học bổng cho Học viên xuất sắc và những bạn có hoàn cảnh khó khăn.
              p(style='padding-left: 60px;')
                //- strong CHÚ Ý:
                //- |  15 bạn đăng ký sớm nhất, thi đầu vào/phỏng vấn và nộp học phí trước 31/1/2016: nhận được 300.000vnd từ TechKids như một món quà trước khi về nghỉ Tết nhé!
              p
                span(style='color: #555555;')
                  span(style='font-weight: 400;')
                    br
                  span(style='font-weight: 400;')
                    | Đây không phải là một tổ chức dạy học bình thường, đây là một cộng đồng Lập trình viên chất lượng cao,
                    strong  CHỈ NHẬN HỌC VIÊN CÓ TƯ DUY VÀ THÁI ĐỘ TỐT
              hr
              h2(style='text-align: center;')
                span(style='color: #555555;')
                  b
                    b 2. Tại sao bạn nên học Lập trình iOS
              p
                b CƠ HỘI NGHỀ NGHIỆP CỰC TỐT
              p
                span(style='color: #555555;')
                  span(style='font-weight: 400;')
                    | Lập trình iOS luôn nằm trong 
                    strong Top 10
                    |  những 
                    strong công việc có thu nhập khủng
                    |  và nhiều cơ hội nhất từ 
                    strong 2013-2015
              p(style='padding-left: 60px;')
                span(style='font-weight: 400; color: #555555;')
                  strong Nếu đi làm ở các studio
                  | , công ty, chỉ cần có kinh nghiệm 6 tháng – 1 năm, thu nhập không dưới 1000$/tháng
              p(style='padding-left: 60px;')
                span(style='font-weight: 400; color: #555555;')
                  strong Nếu khởi nghiệp
                  | , làm freelancer hoặc mở studio, tùy vào khả năng của mỗi người mà thu nhập từ vài nghìn đến vài triệu đô.
              p(style='padding-left: 60px;')
                span(style='font-weight: 400; color: #555555;')
                  span(style='font-weight: 400;')
                    strong Không bị giới hạn bởi khoảng cách địa lý
                    | , bạn có thể tiếp cận được hàng triệu người dùng trên khắp thế giới và tạo được giá trị xã hội cực lớn. VD như Co-founder TechKids Đỗ Anh Tú từng tạo ra game 2048 (5×5) với 3 triệu users hay Giảng viên Đạt Kin tạo ra Tiny Fly với 1 triệu users.
              p .
              p
                b
                  | THẾ NHƯNG, TẠI SAO MỘT LẬP TRÌNH VIÊN VIỆT NAM NÊN 
                  span(style='color: #ff0000;') ĐI HỌC
                  | , CHỨ 
                  span(style='color: #ff0000;') KHÔNG NÊN TỰ HỌC
                  | ?
              p(style='padding-left: 60px;')
                span(style='font-weight: 400; color: #555555;')
                  | “Giáo dục và môi trường Việt Nam khiến tư tưởng của các bạn sinh viên Việt Nam khá “ăn xổi”, cứ nghĩ mobile dev là ngon ăn rồi nhảy vào, tự học được vài chiêu rồi copy đoạn code này, paste vào, bán thi thoảng được vài nghìn đô đã là sung sướng. Hoặc có những bạn theo đuổi rất tử tế thì lại bị thiếu tầm nhìn, không biết cách hợp tác với người khác, nhìn ra đường hướng phát triển và Marketing sản phẩm,… Những điều này khiến các bạn ấy chỉ làm được những sản phẩm 1 là chộp giật chỉ bán được trong thị trường VN hoặc 2 là những sản phẩm chỉ dừng lại ở 1 mức nào đó mà không phát triển được tiếp. Nó thực sự không tốt trong dài hạn.” Đọc thêm chia sẻ của Giảng viên Bùi Xuân Cảnh 
                  span(style='color: #000080;')
                    strong
                      a(style='color: #000080;', href='http://techkids.edu.vn/index.php/instructor/bui-xuan-canh/', target='_blank') TẠI ĐÂY.
              hr
              h2(style='text-align: center;') 3. Tại sao chúng tôi nên chọn bạn
              p
                span(style='color: #ff0000;')
                  i
                    span(style='font-weight: 400;')
                      | Chúng tôi không tìm kiếm những học viên bình thường.
                      br
                  i
                    span(style='font-weight: 400;')
                      | Chúng tôi tìm kiếm những người 
                      strong KHÁC BIỆT!
              p(style='padding-left: 60px;')
                span(style='font-weight: 400;')
                  | Chấp nhận thử thách, sẵn sàng thay đổi bản thân trong mô hình học tập hoàn toàn mới.
              p(style='padding-left: 60px;')
                span(style='font-weight: 400;') Tin tưởng vào bản thân. Luôn nỗ lực đến cùng.
              p(style='padding-left: 60px;')
                span(style='font-weight: 400;')
                  | Có mục tiêu học tập rõ ràng, có tinh thần cầu tiến, khiêm tốn. Và chúng tôi cực thích những người “dị”, khác người.
              p
                strong NGOÀI RA, BẠN CẦN:
              p
                | Vượt qua bài kiểm tra đầu vào: Lập trình hướng đối tượng (cho những ai có nền tảng cơ bản) hoặc Bài kiểm tra tư duy logic, số học (cho                                những ai chưa học Lập trình) và tiếng Anh cơ bản. 
                strong Phỏng vấn live code trong vòng 3-5 tiếng
                | . Nhận xét ngay sau phỏng vấn.
              p(style='padding-left: 60px;')
                span(style='font-weight: 400;')
                  strong Có kiến thức cơ bản
                  |  về lập trình một trong các ngôn ngữ C++, C#, VB.net, Java, PHP… Đã sử dụng qua cơ sở dữ liệu sqllite, mysql, Microsoft SQL Server…
              p(style='padding-left: 60px;')
                span(style='font-weight: 400;')
                  strong Biết và sử dụng được
                  |  hệ điều hành MAC, Photoshop là một lợi thế
              p(style='padding-left: 60px;')
                span(style='font-weight: 400;')
                  strong Tiếng anh chuyên ngành
                  |  sẽ giúp ích thêm bạn rất nhiều trong việc tìm và đọc tài liệu. Ngoài ra bạn sẽ nhận được
                span(style='font-weight: 400;') Học bổng 100% khóa tiếng Anh giao tiếp cơ bản tại 
                a(href='http://thuquandoanhnhan.org')
                  span(style='font-weight: 400;') ILIAT SCHOOL
              p(style='padding-left: 60px;')
                | CHÚ Ý: Nếu bạn là người thực sự có tố chất và mong muốn học Lập trình di động, nhưng nền tảng chưa vững hoặc chưa được học đầy đủ,
                strong  chúng tôi sẽ giúp bạn học 1 khóa Lập trình nền tảng hoàn toàn miễn phí 
                | trước khóa học này
                strong .
              hr
              h2(style='text-align: center;') 4. Lời gửi gắm đến những Lập trình viên tài năng
              p
                span(style='font-weight: 400;')
                  strong Giáo dục và Công nghệ
                  |  là một trong 2 hướng đi của cả thế giới trong những năm gần đây bởi sức mạnh kiến tạo tương lai của nó. Đó là lý do chúng tôi đã bắt đầu cuộc hành trình của mình với ILIAT SCHOOL 1 năm trước đây, cộng đồng lớn nhất Hà Nội về Kinh doanh – Kinh tế với 1200+ thành viên cực kỳ tài năng, và giờ là lúc chúng tôi bắt đầu với các bạn, những Lập trình viên tương lai.
              p
                span(style='font-weight: 400;')
                  | Chúng tôi tin các bạn, nếu được truyền cảm hứng nhiều hơn, trau dồi nhiều hơn, đam mê và nỗ lực nhiều hơn thì các bạn sẽ làm được những điều thật sự khác biệt! Và chúng tôi hứa, sẽ đồng hành với bạn trong cuộ hành trình đầy thử thách này.
            section
              .article_title_wrapper.row
                h3.section_title.col-sm-5.col-xs-9 Front End
              ul.list-group
                li.list-group-item
                  h5.list-group-item-heading 1. Introduction
                  p.list-group-item-text
                    | + Setup environment
                    |+ Using Webstorm, notepad++ editor
                    |+ Git, Github
                    |+ Git basic 
                    |+ Git flow
                    |+ Create github repository
                    |+ Practice

                li.list-group-item
                  h5.list-group-item-heading 2. Git Lab:
                  p.list-group-item-text
                    |+ Using Source Tree tool
                    |+ commit, push, pull, merge (rebase) 
                li.list-group-item
                  h5.list-group-item-heading 3. HTML 
                  p.list-group-item-text
                    |+ Introduction
                    |+ Basic HTML tags: h1, h2, p, input…
                    |+ HTML Tag with attributes: img, a, input…
                    |+ Div and HTML5 tags
                    |+ Practice
                li.list-group-item
                    h5.list-group-item-heading 4. CSS basic 
                    p.list-group-item-text
                      |+ Include CSS into HTML
                      |+ CSS syntax
                      |+ CSS selectors
                      |+ Bowser developer tool (chrome, firefox, IE)
                      |+ Practice 
                li.list-group-item
                  h5.list-group-item-heading 5. HTML, CSS Lab 1:
                  p.list-group-item-text
                    |+ Create Login Page
                    |+ Create Home menu
                li.list-group-item
                  h5.list-group-item-heading 6. CSS advance
                  p.list-group-item-text
                    |+ Position
                    |+ Display
                    |+ Float
                    |+ Sizing
                    |+ Animations
                li.list-group-item
                  h5.list-group-item-heading 7. HTML, CSS Lab 2
                  p.list-group-item-text
                    |+ Create Home Page example
                    |+ Bootstrap introduction
                li.list-group-item
                  h5.list-group-item-heading 8. Javascript 
                  p.list-group-item-text
                    |+ Introduction
                    |+ Include javascript into HTML
                    |+ DOM object
                    |+ DOM events
                    |+ Practice: Handle login button in login page
                li.list-group-item
                  h5.list-group-item-heading 9. Javascript language
                  p.list-group-item-text
                    |+ Variable
                    |+ Object
                    |+ Operator: +-*/
                    |+ Array & Loop
                    |+ Function

                li.list-group-item
                  h5.list-group-item-heading 10. Javascript Lab:
                  p.list-group-item-text 
                    |+ Create Stop watch Page
                    | + Jquery introduction & practice
                li.list-group-item
                  h5.list-group-item-heading 11. AngularJS Part 1
                  p.list-group-item-text
                    |+ Introduction
                    |+ Include Angular JS into Project
                    |+ MVVM
                    |+ Practice
                li.list-group-item
                  h5.list-group-item-heading 12. AngularJS Part 2
                  p.list-group-item-text
                    |+ Directive
                    |+ Services
                    |+ Routing
                
                li.list-group-item
                  h5.list-group-item-heading 13. AngularJS Lab 
                  p.list-group-item-text
                    |+ Create custom Directive (Navbar)
                    |+ Create List Page
                    |+ Create New Post page
                li.list-group-item
                  h5.list-group-item-heading 14. Mini Hackathon 
                  p.list-group-item-text
                    | Full-day
                li.list-group-item
                  h5.list-group-item-heading 15. Node JS
                  p.list-group-item-text 
                    |+ Setup environment
                    |+ Nodejs basic
                    |+ Node module export, require
                    |+ Path, FS module
                    |+ NPM
                li.list-group-item
                  h5.list-group-item-heading 16. NodeJS web
                  p.list-group-item-text 
                    |+ Express
                    |+ Web server with Express
                    |+ Express Router
                li.list-group-item
                  h5.list-group-item-heading 17. NodeJS Lab
                  p.list-group-item-text
                    |+ Bower introduction
                    |+ Create full project with Nodejs + Express, AngularJS, Bootstrap
                li.list-group-item
                  h5.list-group-item-heading 18. Preprocessor & Build
                  p.list-group-item-text
                    |+ Jade 
                    |+ Sass
                    |+ Gulp
                li.list-group-item
                  h5.list-group-item-heading 19. Preprocessor & Build Lab
                  p.list-group-item-text
                    |+ Create Gulp task (build, run, Jade compile, Sass Compile…)
                    |+ Convert Home page to using Jade, Sass
                li.list-group-item
                  h5.list-group-item-heading 20. Hackathon (Full weekend day)
                  p.list-group-item-text
                    | 
                h3.section_title.col-sm-5.col-xs-9 Back End 
              ul.list-group      
                li.list-group-item
                  h5.list-group-item-heading 21. Setup Working Environment
                  p.list-group-item-text
                    |+ Install Virtualbox
                    |+ Install Vagrant
                    |+ Basic Linux command line
                    |+ Install NPM on Ubuntu Trusty
                li.list-group-item
                  h5.list-group-item-heading 22. Build the first  API
                  p.list-group-item-text
                    |+ Manage packages with NPM
                    |+ Introduce Restful API
                    |+ Build the first API
                    |+ Manage Logs
                    |+ Manage Config
                li.list-group-item
                  h5.list-group-item-heading 23. Working with MongoDB
                  p.list-group-item-text 
                    |+ Choose NoSQL or SQL
                    |+ Install MongoDB on Ubuntu Trusty
                    |+ Connect MongoDB from ExpressJS
                    |+ Build User Register API

                li.list-group-item
                  h5.list-group-item-heading 24. Complete  User Management API
                  p.list-group-item-text
                    |+ Build Login API
                    |+ Build  API getUserDetails, getListUsers
                    |+ Writing Unit Test
                    |+ Document API with Swagger
                    |+ Authorize APIs  with Token based Authentication

                li.list-group-item
                  h5.list-group-item-heading 25. LAB: Build Update User API 
                  p.list-group-item-text
                    |+ Build  API
                    |+ Write Unittest
                    |+ Compose Swagger

                li.list-group-item
                  h5.list-group-item-heading 26. LAB: Build Create/Update Product API
                  p.list-group-item-text
                    |+ Build  API
                    |+ Write Unittest
                    |+ Compose Swagger
   
                li.list-group-item
                  h5.list-group-item-heading 27. LAB: Build get/getList Product API
                  p.list-group-item-text
                    |+ Build  API
                    |+ Write Unittest
                    |+ Compose Swagger
                li.list-group-item
                  h5.list-group-item-heading 28. Mini Hackaton
                  p.list-group-item-text
                    |Full-day
                li.list-group-item
                  h5.list-group-item-heading 29. Working with Cache, Queue
                  p.list-group-item-text
                    |+ Upload Avatar
                    |+ Working with Queue to send Registration Email
                    |+ Build Get Config API
                    |+ Apply Cache for Get Config API
                    
                li.list-group-item
                  h5.list-group-item-heading 30. LAB: Build Create/Update Config API
                  p.list-group-item-text
                    |+ Build Create Config API
                    |+ Build Delete Config API
                    |+ Manage Cache in Config API

                li.list-group-item
                  h5.list-group-item-heading 31. LAB: Using Queue to create thumbnails
                  p.list-group-item-text
                    |+ Writing Producer
                    |+ Writing Consumer to create thumbnail

                li.list-group-item
                  h5.list-group-item-heading 32. Deployment
                  p.list-group-item-text
                    |+ Install and Use PM2
                    |+ Configure webserver Nginx
                    |+ Introduce CI/CD
                    |+ Introduce DevOps

                li.list-group-item
                  h5.list-group-item-heading 33. LAB: Using Jenkins for the deployment
                  p.list-group-item-text
                    |+ Install Virtual Machine and Jenkins
                    |+ Config Jenkins to deploy the product
                li.list-group-item
                  h5.list-group-item-heading 34. Final Hackathon (Full weekend day)
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 35. Demo Day
                  p.list-group-item-text
