extends layout
block content
  section#page_title.page_title.stars
    .container
      .row.fade_up.text-center
        h3.section_title.col-sm-5.col-xs-9 Thông tin
        //- block subtitle
        //-   p.section_subtitle CODE FOR EVERYONE  
        p.section_subtitle 
          block subtitle
            |CODE FOR EVERYONE
  hr.content_divider
  block main_content
    article.row
      .container
        //- cục bên trái
        .col-md-9 
          .item
          
          .item
          .item
          .item          
        //- cục bên phải
        .col-md-3
          .item
            block basic-info
          .item
            block instructor
