extends layout
block content
  section#page_title.page_title.stars
    .container
      .row.fade_up.text-center
        h3.section_title.col-sm-5.col-xs-9 Thông tin
        //- block subtitle
        //-   p.section_subtitle CODE FOR EVERYONE  
        p.section_subtitle 
          block subtitle
            CODE FOR EVERYONE
  hr.content_divider
  block main_content
    article.row
      .container
        .col-md-9 
          .background_markus_color
            .content__item
              p 
                span
                  strong
                    em “Tất cả mọi người nên học Lập trình, bởi Lập trình dạy bạn cách tư duy”
                    em  – Steve Jobs.
        //- cục bên phải
        .col-md-3
          
          .background_markus_color
            .content__item
              p 
                span
                  strong
                    em “Tất cả mọi người nên học Lập trình, bởi Lập trình dạy bạn cách tư duy”
                    em  – Steve Jobs.
          .background_markus_color.content__item
              p 
                span
                  strong
                    em “Tất cả mọi người nên học Lập trình, bởi Lập trình dạy bạn cách tư duy”
                    em  – Steve Jobs.
          .wrapper
            .background_markus_color
              .content__item
                p 
                  span
                    strong
                      em “Tất cả mọi người nên học Lập trình, bởi Lập trình dạy bạn cách tư duy”
                      em  – Steve Jobs.
          .background_markus_color
            .content__item
              p 
                span
                  strong
                    em “Tất cả mọi người nên học Lập trình, bởi Lập trình dạy bạn cách tư duy”
                    em  – Steve Jobs.
          .background_markus_color
            .content__item
              p 
                span
                  strong
                    em “Tất cả mọi người nên học Lập trình, bởi Lập trình dạy bạn cách tư duy”
                    em  – Steve Jobs.            
          .content__item
            .background_markus_color  
              p 
                span
                  strong
                    em “Tất cả mọi người nên học Lập trình, bởi Lập trình dạy bạn cách tư duy”
                    em  – Steve Jobs.
                      h3.column_title Thông tin cơ bản
                      p
                        | Chúng tôi không chỉ dạy về lập trình
                      p
                        | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
          
                      p
                        i.fa.fa-calendar
                        em  Lịch khai giảng:
                        span.pull-right 21/05/2016
                      hr.sub_divider
          .background_markus_color
            .content__item
              h3.column_title Thông tin cơ bản
              p
                | Chúng tôi không chỉ dạy về lập trình
              p
                | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!

              p
                i.fa.fa-calendar
                em  Lịch khai giảng:
                span.pull-right 21/05/2016
              hr.sub_divider
            .background_markus_color.content__item
              h3.column_title Thông tin cơ bản
              p
                | Chúng tôi không chỉ dạy về lập trình
              p
                | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!

              p
                i.fa.fa-calendar
                em  Lịch khai giảng:
                span.pull-right 21/05/2016
              hr.sub_divider
            .wrapper
              .background_markus_color
                .content__item
                  h3.column_title Thông tin cơ bản
                  p
                    | Chúng tôi không chỉ dạy về lập trình
                  p
                    | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
      
                  p
                    i.fa.fa-calendar
                    em  Lịch khai giảng:
                    span.pull-right 21/05/2016
                  hr.sub_divider
            .background_markus_color
              .content__item
                h3.column_title Thông tin cơ bản
                p
                  | Chúng tôi không chỉ dạy về lập trình
                p
                  | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
    
                p
                  i.fa.fa-calendar
                  em  Lịch khai giảng:
                  span.pull-right 21/05/2016
                hr.sub_divider
            .wrapper
              .background_markus_color
                .content__item
                  h3.column_title Thông tin cơ bản
                  p
                    | Chúng tôi không chỉ dạy về lập trình
                  p
                    | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
      
                  p
                    i.fa.fa-calendar
                    em  Lịch khai giảng:
                    span.pull-right 21/05/2016
                  hr.sub_divider
            .content__item
              .background_markus_color  
                h3.column_title Thông tin cơ bản
                p
                  | Chúng tôi không chỉ dạy về lập trình
                p
                  | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
    
                p
                  i.fa.fa-calendar
                  em  Lịch khai giảng:
                  span.pull-right 21/05/2016
                hr.sub_divider
          //- .background_markus_color
          //-   h3.column_title Thông tin cơ bản
          //- thông tin giảng viên
          //- .content__item
          //-   .background_markus_color
          //-       h3.column_title Thông tin giảng viên
