extends layout
block content
  section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Thông tin
          p.section_subtitle Khóa học lập trình web Fullstack
    section
      .container
        hr.content_divider
        article.row
          aside.course_summary.fly_right_md.col-md-3
            h3.column_title Thông tin khóa học
            p
              | Chúng tôi không chỉ dạy về lập trình
            p
              | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!

            p
              i.fa.fa-calendar
              em  Lịch khai giảng:
              span.pull-right 15/05/2016
            hr.sub_divider
            p
              i.fa.fa-clock-o
              em  Thời gian học:
              div Tối thứ 2,6 (19h00-21h00) sáng chủ nhật (9h30-11h30)
            hr.sub_divider
            p
              i.fa.fa-level-up
              em  Thời lượng học:
              div 4 tháng + 1 tháng thực tập. 3 buổi học chính/tuần
            hr.sub_divider
            p
              i.fa.fa-credit-card
              em  3 Học bổng tài năng:
              span.pull-right 20-50%
            p.price_tag(style="text-align:center; font-size:30px")
              | 5.400.000
              sup đ
            a.btn.btn-primary.btn-block(href='https://docs.google.com/forms/d/1HyXntmq1lx7H4qD0UxsbxY9Kxta-Pv7y3LpPR4MauyA/viewform') Đăng ký tại đây
            hr
            h3.column_title Giảng viên
            ul.users_list
              li
                .user_thumbnail
                  a(href="/giang-vien/do-anh-tu")
                    img(src="/cms/img/doanhtu.jpg")
                h5
                  a(href="/giang-vien/do-anh-tu") Đỗ anh Tú
                p Co-founder at Haivl.com
              li
                .user_thumbnail
                  a(href="/giang-vien/nguyen-tien-dat")
                    img(src="/cms/img/dat.jpg")
                h5
                  a(href="/giang-vien/nguyen-tien-dat") Nguyễn Tiến Đạt
                p Director at PlumGame
          .col-md-9.fly_right_md
            img.title_image(src="/cms/img/c4e.jpg")
            section
              .article_title_wrapper.row
                h3.section_title.col-sm-5.col-xs-9 Thông tin khóa học
                  h2(style='text-align: center;')
                strong
                  span(style='color: #555555;') 1. Tại sao bạn nên học ở TechKids
              //p(style='text-align: justify; font-style:italic')
              //span(style='text-align: justify; ')
              p(style='font-style:italic')  
                | Bạn là một thằng sinh viên đang mài đũng quần trên ghế giảng đường?
              p(style='font-style:italic')  
                | Bạn đã bao giờ từng nghĩ mình sẽ trở thành 1 full-stack web developer, khi mà còn ăn bám bố mẹ, tương lai còn chưa biết đi đâu về đâu, gấu thì chưa có?
              p(style='font-style:italic')  
                | Còn nếu đang đi làm, bạn có bao giờ nghĩ mình sẽ thay đổi nghề nghiệp của mình, nghe từ full-stack thấy thật ảo nhưng chưa biết bắt đầu như thế nào?
              p(style='font-style:italic')  
                | Hay đơn giản, bạn muốn tìm hiểu NodeJS, một ngôn ngữ mới, nhanh, khỏe như thanh niên mới lớn?
              p(style='font-style:italic')  
                | Lớp học này dành cho bạn.

              p
                strong MỤC ĐÍCH KHÓA HỌC:
              p
                span(style='font-weight: 400;') Tự làm sản phẩm, khởi nghiệp vừa và nhỏ
              p  
                span(style='font-weight: 400;') Có đủ kỹ năng cần thiết để trở thành 1 full-stack web dev ở các công ty IT/dự án toàn cầu. Techkids đảm bảo đầu ra cho tất cả các học viên của mình (trừ khi học viên bị đúp).
              p
                span(style='font-weight: 400;')
              
              p
                strong MỘT SỐ ĐIỂM LƯU Ý:
              p
                span(style='font-weight: 400;')
                  strong             TechKids có hơn 30 đối tác
                  |  là các công ty lớn trong nước và ở ASEAN, US (xin được giấu tên) sẽ gửi dự án cho TechKids và nhận học viên của TechKids (fulltime/parttime)
              p
                strong             TechKids hỗ trợ tất cả khoản ăn, ngủ, ở tại TechKids.
                            p
                span(style='color: #555555;')
                  b             Học kỹ năng cần thiết
                span(style='font-weight: 400;')
                  | cho 1 Lập trình viên, tất cả học viên sẽ được nhận được Học bổng 100% 5 khóa học khác: 1. Tiếng Anh giao tiếp, 3. Kĩ thuật design mobile apps,  4. Đào tạo về tuyển dụng, 5. Cách khởi nghiệp với Mobile app thành công .
              p
                span(style='color: #555555;')
                  b             Tăng kỹ năng mềm
                span(style='font-weight: 400;')
                  | (Giao tiếp, làm việc nhóm, khởi nghiệp,…) bằng các hoạt động chung với Cộng đồng ILIAT SCHOOL 1200+ thành viên đến từ những trường Đh và công ty về Công nghệ – Kinh tế – Kinh doanh danh giá nhất trên thế giới: Harvard, Stanford, Oxford,…hay Unilever, Uber, Grabtaxi,….
              p  
              p
                span(style='color: #555555;')
                  strong BẠN CHỜ ĐỢI ĐIỀU GÌ TRƯỚC KHÓA HỌC:
              p(style='padding-left: 60px;')
                b Đội ngũ giảng viên và trợ giảng có trình độ quốc tế
                span(style='font-weight: 400;')
                  | , cùng với TechKids xây dựng một cộng đồng IT-ers trong khu vực ASEAN để đồng hành với từng cá nhân trong sự nghiệp sau này.
              p(style='padding-left: 60px;')
                span(style='color: #555555;')
                  b Truyền cảm hứng và khuyến khích sự sáng tạo
                  span(style='font-weight: 400;')
                    | , chủ động, khác biệt của từng học viên trong môi trường cực kỳ năng động, cởi mở. Chúng tôi TỪ CHỐI KIỂU HỌC THỤ ĐỘNG, CẦM THAY CHỈ VIỆC. Giáo dục Việt Nam đã sai lầm quá đủ rồi!
              p(style='padding-left: 60px;')
                span(style='color: #555555;')
                  b Chi phí cực kỳ thấp (chỉ bằng 1/2 thông thường)
                  span(style='font-weight: 400;')
                    span(style='font-weight: 400;')
                      | : 5.400.000vnd/4 tháng học tập và làm việc tại TechHub. Mọi chi phí đóng góp của các bạn đủ để chúng tôi trả các chi phí vận hành và trao học bổng cho Học viên xuất sắc và những bạn có hoàn cảnh khó khăn.
              p(style='padding-left: 60px;')
                //- strong CHÚ Ý:
                //- |  15 bạn đăng ký sớm nhất, thi đầu vào/phỏng vấn và nộp học phí trước 31/1/2016: nhận được 300.000vnd từ TechKids như một món quà trước khi về nghỉ Tết nhé!
              p
                span(style='color: #555555;')
                  span(style='font-weight: 400;')
                    br
                  span(style='font-weight: 400;')
                    | Đây không phải là một tổ chức dạy học bình thường, đây là một cộng đồng Lập trình viên chất lượng cao,
                    strong  CHỈ NHẬN HỌC VIÊN CÓ TƯ DUY VÀ THÁI ĐỘ TỐT
              hr
              h2(style='text-align: center;') 2. Học gì ở TechKids
              a(href="http://bit.ly/Moments_of_TechKids")
                b Những chia sẻ và hình ảnh của họ: 
                
              p
                span(style='color: #555555;')
                  span(style='font-weight: 400;')
                  p                  
                    | (Miễn phí) Fundamentals (OOP + Javascript + teamwork): 8 buổi học + 1 Hackathon + 1 Demo day. (Miễn phí) Khóa học Tiếng Anh phát âm cơ bản
                  p
                    | - Front end: 17 buổi học + 2 Hackathon
                  p
                    | - Back end: 12 buổi học + 2 ngày Hackathon (bao gồm quản lý database và xây dựng API) + 1 Demo Day 
                  p
                    |Đọc thêm chương trình học chi tiết tại đây: http://bit.ly/Full_stack_web_dev 

              hr
              h2(style='text-align: center;') 3. Tại sao chúng tôi nên chọn bạn
              p
                span(style='color: #555555;')
                  span(style='font-weight: 400;')
                  p                  
                    strong >> Quy trình vào học:
                  p  
                    |- Đăng ký tại trang web này
                  p
                    |- Test và phỏng vấn đầu vào trong vòng 3-4h
                  p
                    strong >>  Yêu cầu đầu vào:
                  p
                    |- Biết/đã từng học 1 trong số các ngôn ngữ Lập trình sau: C, C++, C#, Java. Biết OOP là một lợi thế.
                  p
                    |- Có thể dành đủ ít nhất 3h/ngày trong vòng 1 tháng để học và luyện tập.
                  p
                    |- Có ý thức và thái độ đủ tốt để tuân thủ các nội quy trong lớp học của TechKids.
                  p
                    strong >> Ngày khai giảng dự kiến: 15/05/2015
                  p
                    strong >> Lịch học dự kiến: Tối thứ 2,6 (19h00-21h00) sáng chủ nhật (9h30-11h30)
                  p
                    strong >> Học phí: 5.400.000 vnd
                  p
                    |Học viên là Alumni của TechKids/ILIAT School được giảm 10% học phí; hoặc được Alumni giới thiệu sẽ được giảm 5% Học phí.
                  p
                    |Đăng ký theo nhóm 2 người trở lên: được tặng 400.000vnd mỗi người
                  p
                    strong >> Học bổng: 3 Học bổng 20 - 30 - 50% cho những bạn có tiềm năng nhất. Quy định về Học bổng sẽ được gửi kèm theo kết quả.
                  p
                    strong >> Địa điểm học: Tòa nhà 101D, ngõ 95 chùa Bộc.
              hr
              h2(style='text-align: center;') 4. Lời gửi gắm đến những Lập trình viên tài năng
              p
                span(style='font-weight: 400;')
                  strong Giáo dục và Công nghệ
                  |  là một trong 2 hướng đi của cả thế giới trong những năm gần đây bởi sức mạnh kiến tạo tương lai của nó. Đó là lý do chúng tôi đã bắt đầu cuộc hành trình của mình với ILIAT SCHOOL 1 năm trước đây, cộng đồng lớn nhất Hà Nội về Kinh doanh – Kinh tế với 1200+ thành viên cực kỳ tài năng, và giờ là lúc chúng tôi bắt đầu với các bạn, những Lập trình viên tương lai.
              p
                span(style='font-weight: 400;')
                  | Chúng tôi tin các bạn, nếu được truyền cảm hứng nhiều hơn, trau dồi nhiều hơn, đam mê và nỗ lực nhiều hơn thì các bạn sẽ làm được những điều thật sự khác biệt! Và chúng tôi hứa, sẽ đồng hành với bạn trong cuộ hành trình đầy thử thách này.
            section
              .article_title_wrapper.row
                h3.section_title.col-sm-5.col-xs-9 CODE INTENSIVE WITH JS
              ul.list-group
                li.list-group-item
                  h5.list-group-item-heading 1. Javascript fundamental & Git Basic
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 2. Javascript fundamental with OOP
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 3. Canvas & Game development introduction 
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 4. Player & Weapon 
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 5. Enemy & Enemy Weapon
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 6. Collision detection & Handling
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 7. Scene transition
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 8. Project execution - Question & Answer
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 9. Hackathon
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 10. Demo Day
                  p.list-group-item-text
                  
                h3.section_title.col-sm-5.col-xs-9 Front End
              ul.list-group
                li.list-group-item
                  h5.list-group-item-heading 11. Introduction
                  p.list-group-item-text
                    | + Setup environment
                    |+ Using Webstorm, notepad++ editor
                    |+ Git, Github
                    |+ Git basic 
                    |+ Git flow
                    |+ Create github repository
                    |+ Practice

                li.list-group-item
                  h5.list-group-item-heading 12. Git Lab:
                  p.list-group-item-text
                    |+ Using Source Tree tool
                    |+ commit, push, pull, merge (rebase) 
                li.list-group-item
                  h5.list-group-item-heading 13. HTML 
                  p.list-group-item-text
                    |+ Introduction
                    |+ Basic HTML tags: h1, h2, p, input…
                    |+ HTML Tag with attributes: img, a, input…
                    |+ Div and HTML5 tags
                    |+ Practice
                li.list-group-item
                    h5.list-group-item-heading 14. CSS basic 
                    p.list-group-item-text
                      |+ Include CSS into HTML
                      |+ CSS syntax
                      |+ CSS selectors
                      |+ Bowser developer tool (chrome, firefox, IE)
                      |+ Practice 
                li.list-group-item
                  h5.list-group-item-heading 15. HTML, CSS Lab 1:
                  p.list-group-item-text
                    |+ Create Login Page
                    |+ Create Home menu
                li.list-group-item
                  h5.list-group-item-heading 16. CSS advance
                  p.list-group-item-text
                    |+ Position
                    |+ Display
                    |+ Float
                    |+ Sizing
                    |+ Animations
                li.list-group-item
                  h5.list-group-item-heading 17. HTML, CSS Lab 2
                  p.list-group-item-text
                    |+ Create Home Page example
                    |+ Bootstrap introduction
                li.list-group-item
                  h5.list-group-item-heading 18. Javascript 
                  p.list-group-item-text
                    |+ Introduction
                    |+ Include javascript into HTML
                    |+ DOM object
                    |+ DOM events
                    |+ Practice: Handle login button in login page
                li.list-group-item
                  h5.list-group-item-heading 19. Javascript language
                  p.list-group-item-text
                    |+ Variable
                    |+ Object
                    |+ Operator: +-*/
                    |+ Array & Loop
                    |+ Function

                li.list-group-item
                  h5.list-group-item-heading 20. Javascript Lab:
                  p.list-group-item-text 
                    |+ Create Stop watch Page
                    | + Jquery introduction & practice
                li.list-group-item
                  h5.list-group-item-heading 21. AngularJS Part 1
                  p.list-group-item-text
                    |+ Introduction
                    |+ Include Angular JS into Project
                    |+ MVVM
                    |+ Practice
                li.list-group-item
                  h5.list-group-item-heading 22. AngularJS Part 2
                  p.list-group-item-text
                    |+ Directive
                    |+ Services
                    |+ Routing
                
                li.list-group-item
                  h5.list-group-item-heading 23. AngularJS Lab 
                  p.list-group-item-text
                    |+ Create custom Directive (Navbar)
                    |+ Create List Page
                    |+ Create New Post page
                li.list-group-item
                  h5.list-group-item-heading 24. Mini Hackathon 
                  p.list-group-item-text
                    | Full-day
                li.list-group-item
                  h5.list-group-item-heading 25. Node JS
                  p.list-group-item-text 
                    |+ Setup environment
                    |+ Nodejs basic
                    |+ Node module export, require
                    |+ Path, FS module
                    |+ NPM
                li.list-group-item
                  h5.list-group-item-heading 26. NodeJS web
                  p.list-group-item-text 
                    |+ Express
                    |+ Web server with Express
                    |+ Express Router
                li.list-group-item
                  h5.list-group-item-heading 27. NodeJS Lab
                  p.list-group-item-text
                    |+ Bower introduction
                    |+ Create full project with Nodejs + Express, AngularJS, Bootstrap
                li.list-group-item
                  h5.list-group-item-heading 28. Preprocessor & Build
                  p.list-group-item-text
                    |+ Jade 
                    |+ Sass
                    |+ Gulp
                li.list-group-item
                  h5.list-group-item-heading 29. Preprocessor & Build Lab
                  p.list-group-item-text
                    |+ Create Gulp task (build, run, Jade compile, Sass Compile…)
                    |+ Convert Home page to using Jade, Sass
                li.list-group-item
                  h5.list-group-item-heading 30. Hackathon (Full weekend day)
                  p.list-group-item-text
                    | 
                h3.section_title.col-sm-5.col-xs-9 Back End 
              ul.list-group      
                li.list-group-item
                  h5.list-group-item-heading 31. Setup Working Environment
                  p.list-group-item-text
                    |+ Install Virtualbox
                    |+ Install Vagrant
                    |+ Basic Linux command line
                    |+ Install NPM on Ubuntu Trusty
                li.list-group-item
                  h5.list-group-item-heading 32. Build the first  API
                  p.list-group-item-text
                    |+ Manage packages with NPM
                    |+ Introduce Restful API
                    |+ Build the first API
                    |+ Manage Logs
                    |+ Manage Config
                li.list-group-item
                  h5.list-group-item-heading 33. Working with MongoDB
                  p.list-group-item-text 
                    |+ Choose NoSQL or SQL
                    |+ Install MongoDB on Ubuntu Trusty
                    |+ Connect MongoDB from ExpressJS
                    |+ Build User Register API

                li.list-group-item
                  h5.list-group-item-heading 34. Complete  User Management API
                  p.list-group-item-text
                    |+ Build Login API
                    |+ Build  API getUserDetails, getListUsers
                    |+ Writing Unit Test
                    |+ Document API with Swagger
                    |+ Authorize APIs  with Token based Authentication

                li.list-group-item
                  h5.list-group-item-heading 35. LAB: Build Update User API 
                  p.list-group-item-text
                    |+ Build  API
                    |+ Write Unittest
                    |+ Compose Swagger

                li.list-group-item
                  h5.list-group-item-heading 36. LAB: Build Create/Update Product API
                  p.list-group-item-text
                    |+ Build  API
                    |+ Write Unittest
                    |+ Compose Swagger
   
                li.list-group-item
                  h5.list-group-item-heading 37. LAB: Build get/getList Product API
                  p.list-group-item-text
                    |+ Build  API
                    |+ Write Unittest
                    |+ Compose Swagger
                li.list-group-item
                  h5.list-group-item-heading 38. Mini Hackaton
                  p.list-group-item-text
                    |Full-day
                li.list-group-item
                  h5.list-group-item-heading 39. Working with Cache, Queue
                  p.list-group-item-text
                    |+ Upload Avatar
                    |+ Working with Queue to send Registration Email
                    |+ Build Get Config API
                    |+ Apply Cache for Get Config API
                    
                li.list-group-item
                  h5.list-group-item-heading 40. LAB: Build Create/Update Config API
                  p.list-group-item-text
                    |+ Build Create Config API
                    |+ Build Delete Config API
                    |+ Manage Cache in Config API

                li.list-group-item
                  h5.list-group-item-heading 41. LAB: Using Queue to create thumbnails
                  p.list-group-item-text
                    |+ Writing Producer
                    |+ Writing Consumer to create thumbnail

                li.list-group-item
                  h5.list-group-item-heading 42. Deployment
                  p.list-group-item-text
                    |+ Install and Use PM2
                    |+ Configure webserver Nginx
                    |+ Introduce CI/CD
                    |+ Introduce DevOps

                li.list-group-item
                  h5.list-group-item-heading 43. LAB: Using Jenkins for the deployment
                  p.list-group-item-text
                    |+ Install Virtual Machine and Jenkins
                    |+ Config Jenkins to deploy the product
                li.list-group-item
                  h5.list-group-item-heading 44. Final Hackathon (Full weekend day)
                  p.list-group-item-text
                li.list-group-item
                  h5.list-group-item-heading 45. Demo Day
                  p.list-group-item-text


              a.btn.btn-primary.btn-block(href='https://docs.google.com/forms/d/1HyXntmq1lx7H4qD0UxsbxY9Kxta-Pv7y3LpPR4MauyA/viewform') Đăng ký tại đây
