extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
block content
  section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Thông tin
          p.section_subtitle Khóa học lập trình iOS
    section
      .container
        hr.content_divider
        article.row
          aside.course_summary.fly_right_md.col-md-4
            .item
              h3.column_title Thông tin cơ bản
              p
                | Chúng tôi không chỉ dạy về lập trình
              p
                | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!

              p
                i.fa.fa-calendar
                em  Lịch khai giảng:
                span.pull-right 25/06/2016
              hr.sub_divider
              p
                i.fa.fa-clock-o
                em  Thời gian học:
                div Tối thứ 2,6 (19h30-21h30) chiều thứ 7 (14h-16h)
              hr.sub_divider
              p
                i.fa.fa-level-up
                em  Thời lượng học:
                div 4 tháng + 1 tháng thực tập. 3 buổi học chính/tuần
              hr.sub_divider
              p
                i.fa.fa-credit-card
                em  3 Học bổng tài năng:
                span.pull-right 20-50%
              p.price_tag(style="text-align:center; font-size:30px")
                | 5.500.000
                sup đ
              a.btn.btn-danger.btn-block(href='https://docs.google.com/forms/d/1HXKQZnDZGsWX-flPhfFr0CylnVfOUM_32Ehsk3qOVTU/viewform') Đăng ký tại đây
              hr
            .item
              h3.column_title Giảng viên
              ul.users_list
                li
                  .user_thumbnail
                    a(href="/giang-vien/do-anh-tu")
                      img(src="/cms/img/doanhtu.jpg")
                  h5
                    a(href="/giang-vien/do-anh-tu") Đỗ anh Tú
                  p Co-founder at Haivl.com
                li
                  .user_thumbnail
                    a(href="/giang-vien/nguyen-tien-dat")
                      img(src="/cms/img/dat.jpg")
                  h5
                    a(href="//giang-vien/nguyen-tien-dat") Nguyễn Tiến Đạt
                  p Director at PlumGame
          .col-md-8.fly_right_md
            img.title_image(src="/cms/img/banneriosandroid.jpg")
            section
              .article_title_wrapper.row
                .item
                  h3.section_title.col-sm-5.col-xs-9 Thông tin khóa học
                  div(style='text-align:center; ')
                    p(style='text-align:center')
                      strong
                          | Chúng tôi không chỉ dạy về lập trình
                    p(style='text-align:center')
                      strong
                          | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
                        hr
                .item      
                  h3
                    span 1. MỤC ĐÍCH KHÓA HỌC
                  p(dir='ltr')
                    span Có đủ kỹ năng cần thiết để làm việc ở các công ty IT/dự án toàn cầu.
                  p(dir='ltr')
                    span Tự làm sản phẩm bán trên Appstore/Google play, khởi nghiệp vừa và nhỏ
                  hr
                .item
                  h3(dir='ltr')
                    span 2. HỌC GÌ Ở TECHKIDS?
                  p  
                    span khóa học kéo dài 5 tháng
                  p(dir='ltr')
                    span >> 1 tháng đầu:
                    span
                      | học Tiếng Anh + Coding Intensive (OOP + Teamwork + Project & Hackathon) (Miễn phí). Có thể tự làm được 1 game hoàn chỉnh. Sử dụng được tiếp Anh giao tiếp cơ bản.
                  p(dir='ltr')
                    span >> 2 tháng tiếp theo:
                    span
                      | Chọn lớp Android hoặc iOS. Học kiến thức Lập trình kèm theo assignment và dự án thật. Bắt đầu từ tuần thứ 3 sẽ làm 1 dự án giả lập hoàn chỉnh.
                  p(dir='ltr')
                    span  >> 1 tháng gần cuối:
                    span
                      | Làm dự án THẬT của 1 công ty đối tác dưới sự hướng dẫn của Giảng viên và trợ giảng.
                  p(dir='ltr')
                    span >> 1 tháng cuối cùng:
                    span  Thực tập tại TechKids lab
                  p(dir='ltr')
                    span  >> Kết thúc khóa:
                    span
                      | Có thể làm sản phẩm thật hoàn chỉnh và có công việc (không kể tuổi tác) hoặc kiếm được thu nhập riêng.
                  H4(dir='ltr')
                    span MỘT SỐ ĐIỂM LƯU Ý:
                  p(dir='ltr')
                    span TechKids có hơn 
                    span 30 đối tác là các công ty lớn trong nước và ở ASEAN
                    span
                      | , US (xin được giấu tên) sẽ gửi dự án cho TechKids và nhận học viên của TechKids (fulltime/parttime)
                  p(dir='ltr')
                    span >> TechKids hỗ trợ ăn, ngủ, ở tại TechKids.
                  p(dir='ltr')
                    span >> Học bổng 20 - 100% cho những bạn có tiềm năng và thái độ tốt nhất.
                    span  Luôn có học bổng cho nữ giới. 
                  p(dir='ltr')
                    span >> Học kỹ năng cần thiết cho 1 Lập trình viên
                    span
                      | , tất cả học viên sẽ được nhận được Học bổng 100% 4 khóa học khác: 1. OOP, 2. Tiếng Anh phát âm cơ bản, 3. Kĩ thuật design mobile apps,  4. Đào tạo về tuyển dụng 
                .item
                  h3 3. THÔNG TIN CƠ BẢN
                  p(dir='ltr')
                    span Đội ngũ giảng viên và trợ giảng có trình độ quốc tế
                    span
                      | , cùng với TechKids xây dựng một cộng đồng IT-ers trong khu vực ASEAN để đồng hành với từng cá nhân trong sự nghiệp sau này.
                  p(dir='ltr')
                    span Truyền cảm hứng và khuyến khích sự sáng tạo
                    span
                      | , chủ động, khác biệt của từng học viên trong môi trường năng động, cởi mở. Chúng tôi TỪ CHỐI KIỂU HỌC THỤ ĐỘNG, CẦM THAY CHỈ VIỆC. Giáo dục Việt Nam đã sai lầm quá đủ rồi!
                  p(dir='ltr')
                    span Những trải nghiệm thực sự đáng nhớ trong cuộc đời mình. 
                    span Xem cuộc sống ở TechKids như thế nào
                    a(href='https://www.facebook.com/Techkids.Code.the.Change/photos/?tab=album&album_id=548390372002566')
                      span  TẠI ĐÂY. 
                  p(dir='ltr')
                    span >>> Thời lượng học: 
                    span 4 tháng, 3 buổi/tuần, 2h/buổi.
                  p(dir='ltr')
                    span >>> Thời gian học: 
                    span Cập nhật trong thời gian sớm nhất.
                  p(dir='ltr')
                    span >>> Sĩ số: 
                    span 12-15 người. Sẽ đóng đơn đăng ký khi chọn đủ thành viên.
                  p(dir='ltr')
                    span >>> Học phí:
                    span  5.500.000/người. Đối với những ai được thành viên cộng đồng TechKids/
                    a(href='http://iliat.org') ILIAT School 
                    span giới thiệu: được giảm 5% học phí.
                  p(dir='ltr')
                    span >>> Đăng ký nhóm 2 người trở lên: tặng mỗi người 400.000vnd
                  p(dir='ltr')
                    span >>> học bổng:
                    span  3 học bổng 20-100%. Kết quả dựa vào bài kiểm tra đầu vào và phỏng vấn. 
                  hr
                //p  
                //- h2(dir='ltr')
                //-   span 3. Đi học hay tự học?
                //- p(dir='ltr')
                //-   span
                //-     | “Giáo dục và môi trường Việt Nam khiến tư tưởng của các bạn sinh viên Việt Nam khá “ăn xổi”, cứ nghĩ mobile dev là ngon ăn rồi nhảy vào, tự học được vài chiêu rồi copy đoạn code này, paste vào, bán thi thoảng được vài nghìn đô đã là sung sướng. Hoặc có những bạn theo đuổi rất tử tế thì lại bị thiếu tầm nhìn, không biết cách hợp tác với người khác, nhìn ra đường hướng phát triển và Marketing sản phẩm,… Những điều này khiến các bạn ấy chỉ làm được những sản phẩm 1 là chộp giật chỉ bán được trong thị trường Việt Nam hoặc 2 là những sản phẩm chỉ dừng lại ở 1 mức nào đó mà không phát triển được tiếp. Nó thực sự không tốt trong dài hạn.
                //- p(dir='ltr')
                //-   span
                //-     | Thế nên mình cho rằng điều đầu tiên khi mình giảng dạy Khóa Lập trình Android ở TechKids là giúp các bạn có suy nghĩ đúng đắn về Lập trình, biết nhìn xa hơn, biết cố gắng và tìm những cơ hội tốt ở một nơi còn hạn chế về đủ thứ như Việt Nam.
                //- p(dir='ltr')
                //-   span
                //-     | Mình tin về kiến thức chuyên môn thì không khó để truyền đạt và giúp các bạn ấy tiến bộ tốt, ít nhất với kinh nghiệm của mình, nhưng mình đang hy vọng một điều gì đó lớn lao hơn qua các lớp học này.”
                //- p(dir='ltr')
                //-   span Bùi Cảnh – Project manager Fsoft
                //- //p(dir='ltr')  
                //- hr
                //- //p  
                //- h2(dir='ltr')
                //-   span 4. Học iOS hay Android?
                //- p(dir='ltr')
                //-   a(href='https://www.facebook.com/media/set/edit/a.556181741223429.1073741843.435780759930195/')
                //-     span TẠI ĐÂY
                //-   span
                //-     | là một vài chia sẻ của các giảng viên TechKids về việc định hướng cho các bạn học viên theo đuổi Android hay iOS khi mới bắt đầu học Mobile.
                //- p(dir='ltr')
                //-   span
                //-     | Theo TechKids thì học cái gì trước cũng được, sau đó học thêm những công nghệ khác, rồi thành Full-stack là ngon ?
                //- //p(dir='ltr')  
                //- hr
                //p  
                .item
                  h3(dir='ltr')
                    span 4. Làm sao để trở thành TechKids?
                  p(dir='ltr')
                    span VÒNG 1:
                    span  Đơn đăng ký. Nút đăng ký ở đâu đó trong trang này.
                  p(dir='ltr')
                    span VÒNG 2:
                    span  Test tiếng Anh và khả năng code (chỉ chiếm 10% kết quả) trong 1 tiếng.
                  p(dir='ltr')
                    span VÒNG 3:
                    span  Phỏng vấn, live code trong 3 – 4 tiếng.
                  p(dir='ltr')
                    span
                      | Ở TechKids, chúng tôi quan trọng nhất là THÁI ĐỘ của các bạn. Bới các bạn có tiến bộ được hay không là do THÁI ĐỘ của các bạn.
                  p(dir='ltr')
                    span
                      | Chấp nhận thử thách, sẵn sàng thay đổi bản thân trong mô hình học tập hoàn toàn mới.
                  p(dir='ltr')
                    span Chủ động tìm tòi học hỏi. Không há miệng chờ sung.
                  p(dir='ltr')
                    span
                      | Có mục tiêu học tập rõ ràng, có tinh thần cầu tiến, khiêm tốn. Và chúng tôi cực thích những người “dị”, khác người.
                  hr
                //- h2(dir='ltr')
                //-   span 6. Lời gửi gắm đến những Lập trình viên tài năng
                //- p(dir='ltr')
                //-   span Giáo dục và Công nghệ
                //-   span
                //-     | là một trong 2 hướng đi của cả thế giới trong những năm gần đây bởi sức mạnh kiến tạo tương lai của nó. Đó là lý do chúng tôi đã bắt đầu cuộc hành trình của mình với ILIAT School hơn 1 năm trước đây, cộng đồng lớn nhất Hà Nội về Kinh doanh – Kinh tế với 1200+ thành viên cực kỳ tài năng, và giờ là lúc chúng tôi bắt đầu với các bạn, những Lập trình viên tương lai.
                //- p(dir='ltr')
                //-   span
                //-     | Chúng tôi tin các bạn, nếu được truyền cảm hứng nhiều hơn, trau dồi nhiều hơn, đam mê và nỗ lực nhiều hơn thì các bạn sẽ làm được những điều thật sự khác biệt! Và chúng tôi hứa, sẽ đồng hành với bạn trong cuộc hành trình đầy thử thách này.

            section
              .article_title_wrapper.row
                .item
                  h3.section_title.col-sm-5.col-xs-9 CODE INTENSIVE
                  ul.list-group
                    li.list-group-item
                      h5.list-group-item-heading 1. Code fundamentals review
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 2. Data abstraction & encapsulation Access modifiers 
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 3.Inheritance & Polymorphism 
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 4. Design patterns: Singleton & Factory
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 5. Design patterns: Strategy & Observer
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 6. Mini-hackathon
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 7. Multi-threading
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 8. Project execution & issue handling
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 9. Project execution & issue handling
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 10. Hackathon (1)
                      p.list-group-item-text 
                    li.list-group-item
                      h5.list-group-item-heading 11. Hackathon (2)
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 12. Demo day
                      p.list-group-item-text
                        | 
                    h3.section_title.col-sm-5.col-xs-9 iOS
                  ul.list-group
                    li.list-group-item
                      h5.list-group-item-heading 13. Introduction to MAC OSX and iOS
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 14. Objective-C Language & Foundation Framework
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 15. Lab 1
                      p.list-group-item-text 
                    li.list-group-item
                      h5.list-group-item-heading 16. Memory management & iOS
                      p.list-group-item-text 
                    li.list-group-item
                      h5.list-group-item-heading 17. Human interaction guideline
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 18. Working with UI
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 19. Lab 2
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 20. Working with UI (2)
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 21. Working with UI (3)
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 22. Lab 3
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 23. UIView Animation & Transformation
                      p.list-group-item-text 
                    li.list-group-item
                      h5.list-group-item-heading 24. Lab 4
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 25. Mini-hackathon   
                      p.list-group-item-text
                        | 
                    li.list-group-item
                      h5.list-group-item-heading 26. Advanced interaction with UIGestureRecognizer
                      p.list-group-item-text
                        |   
                    li.list-group-item
                      h5.list-group-item-heading 27. DataStorage in iOS (1)
                      p.list-group-item-text
                        |                    
                    li.list-group-item
                      h5.list-group-item-heading 28. Lab 5
                      p.list-group-item-text
                      |                    
                    li.list-group-item
                      h5.list-group-item-heading 29. DataStorage in iOS (2)
                      p.list-group-item-text
                        |  
                    li.list-group-item
                      h5.list-group-item-heading 30. CoreLocation/MapKit
                      p.list-group-item-text
                        |  
                    li.list-group-item
                      h5.list-group-item-heading 31. Lab 6
                      p.list-group-item-text
                        |  
                      li.list-group-item
                        h5.list-group-item-heading 32. Storyboard Autolayout & Size classes
                        p.list-group-item-text
                          |  
                      li.list-group-item
                        h5.list-group-item-heading 33. Thread procesing, Grand Central Dispatch, Background procesing
                        p.list-group-item-text 
                      li.list-group-item
                        h5.list-group-item-heading 34. Lab 7
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 35. Common frameworks (1): AddressBook, Camera.Photo, Library, MapKit
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 36. Common frameworks (2): MessageUI, MediaPlayer, AVPlayer
                        p.list-group-item-text
                          |   
                      li.list-group-item
                        h5.list-group-item-heading 37. Lab 8
                        p.list-group-item-text
                          |                    
                      li.list-group-item
                        h5.list-group-item-heading 38. Drawing with CoreGraphics
                        p.list-group-item-text
                        |                    
                      li.list-group-item
                        h5.list-group-item-heading 39. SpriteKit
                        p.list-group-item-text
                          |  
                      li.list-group-item
                        h5.list-group-item-heading 40. Lab 9
                        p.list-group-item-text
                          |  
                      li.list-group-item
                        h5.list-group-item-heading 41. Networking (1)
                        p.list-group-item-text
                          |  
                        li.list-group-item
                          h5.list-group-item-heading 42. Networking (2)
                          p.list-group-item-text
                            |  
                        li.list-group-item
                          h5.list-group-item-heading 43. Lab 10
                          p.list-group-item-text 
                        li.list-group-item
                          h5.list-group-item-heading 44. Localization & Debugging/Profiling iOS App
                          p.list-group-item-text
                            | 
                        li.list-group-item
                          h5.list-group-item-heading 45. AppStore submission
                          p.list-group-item-text
                            | 
                        li.list-group-item
                          h5.list-group-item-heading 46. Lab 11
                          p.list-group-item-text
                            |   
                        li.list-group-item
                          h5.list-group-item-heading 47. Hackathon (1)
                          p.list-group-item-text
                            |                    
                        li.list-group-item
                          h5.list-group-item-heading 48. Hackathon (2)
                          p.list-group-item-text
                          |                    
                        li.list-group-item
                          h5.list-group-item-heading 49. Demo day
                          p.list-group-item-text
                            | 
                  div(style="text-align:center;margin: 20px auto; width: 30%;")
                    a.btn.btn-danger.btn-block(href='https://docs.google.com/forms/d/1HXKQZnDZGsWX-flPhfFr0CylnVfOUM_32Ehsk3qOVTU/viewform') Đăng ký tại đây
