extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
block content
    section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Thông tin
          p.section_subtitle CODE FOR EVERYONE
    section
      .container
        hr.content_divider
        article.row
        
          aside.course_summary.fly_right_md.col-md-4
            .item
              h3.column_title Thông tin cơ bản
              p
                i.fa.fa-calendar
                em  Lịch khai giảng:
                span.pull-right 18/06/2016
              hr.sub_divider
              p
                i.fa.fa-clock-o
                em  Thời gian học:
                div Tối thứ 3,5 (19h00-21h00) và thứ 7 (18h30-21h30) 
              hr.sub_divider
              p
                i.fa.fa-level-up
                em  Thời lượng học:
                div 2 tháng. 3 buổi học chính/tuần
              hr.sub_divider
              p
                i.fa.fa-credit-card
                em  3 Học bổng tài năng:
                span.pull-right 20-50%
              p Học phí bao gồm tất cả quà tặng (sổ, áo TechKids...)
              p.price_tag(style="text-align:center; font-size:30px")
                | 2.800.000
                sup đ
              a.btn.btn-danger.btn-block(href='https://docs.google.com/forms/d/1oj6__hLTf5Q0RotIzXxgkfxAmmYRSpcAH2Ve6zsNt3s/viewform') Đăng ký tại đây
              hr
            .item
              h3.column_title Giảng viên
              ul.users_list
                li
                  .user_thumbnail
                    img(src="/cms/img/canh.jpg")
                  h5
                    a(href="/giang-vien/bui-xuan-canh") Bùi Xuân Cảnh
                  p Project Manager FSoft
                li
                  .user_thumbnail
                    img(src="/cms/img/Lehoangtu.jpg")
                  h5
                    a(href="/giang-vien/le-hoang-tu") Lê Hoàng Tú
                  p Project Manager FSoft
          
          .col-md-8.fly_right_md
            img.title_image(2015='', src='cms/img/c4e.jpg')
            p
              span
                strong
                  em “Tất cả mọi người nên học Lập trình, bởi Lập trình dạy bạn cách tư duy”
                  em  – Steve Jobs.
            .vc_col-sm-8
                  .item            
                    h3.section_title.col-sm-5.col-xs-9 Thông tin khóa học
                    p
                      span
                        em
                          | Có những câu chuyện chúng tôi được biết và trải nghiệm: một anh bạn ở Đức bằng tuổi mình, học lập trình từ năm 10 tuổi, đến khi làm việc cùng nhau, mình được 2 năm kinh nghiệm, hắn đã 14 năm, trình độ cách nhau cả 1 thế hệ. Hay khi đến San Francisco, vào 1 quán cafe, nhà hàng ăn, bạn có thể nhờ bất cứ ai dạy mình học Lập trình cơ bản, tỷ lệ người ta có thể dạy bạn là 80%, như một thứ ngôn ngữ vậy. Điều này thúc giục chúng tôi, không chỉ tập trung vào thế hệ những Lập trình viên tài năng, mà còn cần đem một làn sóng mới về một-thứ-ngôn-ngữ-đầy-quyền-lực này đến tất cả người Việt trong một tương lai không xa.
                          |Hãy cùng TechKids viết những dòng code có thể thay đổi cuộc đời bạn và trải nghiệm một khóa học thực sự đáng nhớ nhé! Đọc thêm những trải nghiệm tại TechKids
                          a(href="https://www.facebook.com/Techkids.Code.the.Change/photos/?tab=album&album_id=548390372002566")  TẠI ĐÂY
                          hr
                  .item
                    h3
                      span
                        | 1. MỤC ĐÍCH KHÓA HỌC
                    p
                      span
                        | Nếu bạn coi máy tính và internet là một phần cuộc sống của mình, thì TechKids tin học Lập trình là học cách làm cuộc sống của bạn tốt đẹp hơn: Hiệu quả hơn, tiết kiệm thời gian, công sức, tiền bạc và thú vị hơn rất nhiều!
                    p
                      span
                        | Nếu bạn hiểu rằng Công nghệ là tương lai của cả thế giới, thì TechKids tin học Lập trình là cách để mỗi chúng ta mở ra những cơ hội lớn trên toàn cầu, để Việt Nam bắt kịp với các nước trên thế giới nhanh hơn.
                    p
                      span
                        | Vậy nên, TechKids tiên phong khởi động chương trình “CODE FOR EVERYONE” để giúp tất cả người Việt có cơ hội học Lập trình một cách dễ dàng, thân thiện, khác biệt và hiệu quả. Sau đây là một số bài báo ví dụ cho các bạn:
                    hr
                  .item  
                    h3
                      span
                        | 2. HỌC GÌ Ở TECHKIDS
                    ._209g._2vxa(data-block='true', data-offset-key='151fc-0-0')
                      span(data-offset-key='151fc-0-0')
                        >>> 6 BUỔI ĐẦU: 
                        | Làm quen với các khái niệm Lập trình bằng các case study và “gamification” (game hóa). Sau mỗi buổi học sẽ làm được một-sản-phẩm hoàn chỉnh. Kết thúc 6 buổi, học viên có thể hiểu được Lập trình cơ bản, cách tư duy và quy trình của Lập trình viên. Đồng thời, làm được những công cụ nhỏ hữu ích.
                    ._209g._2vxa(data-block='true', data-offset-key='6or9b-0-0')
                      span(data-offset-key='6or9b-0-0')
                        >>> 13 BUỔI TIẾP THEO: 
                        | Xây dựng những ứng dụng nhỏ dưới sự hướng dẫn của Giảng viên và Trợ giảng, từ đó bắt đầu biết cách tự thử – sửa lỗi, phân tích được các vấn đề gặp phải và tìm được cách giải quyết.
                    ._209g._2vxa(data-block='true', data-offset-key='6jrmj-0-0')
                      span(data-offset-key='6jrmj-0-0')
                        >>> 1 BUỔI 24H HACKATHON & DEMO DAY:
                        |  Team up và xây dựng 1 ứng dụng hoàn chỉnh.
                    h3
                      span
                        
                          em Learning by doing.
                    ._209g._2vxa(data-block='true', data-offset-key='dbfi-0-0')
                      span(data-offset-key='dbfi-0-0')
                        | – Được định hướng, tư vấn và giúp đỡ trọn đời về Lập trình và Công nghệ. Cafe với TechKids bất cứ lúc nào bạn muốn!
                    ._209g._2vxa(data-block='true', data-offset-key='5f409-0-0')
                      span(data-offset-key='5f409-0-0')
                        | – Được tham gia vào cộng đồng TechKids với những con người tài năng nhất trong tất cả các lĩnh vực: Lập trình, Marketing, Du học, Kinh doanh,… (TechKids trực thuộc cộng đồng
                        a(href='http://iliat.org/', target='_blank')
                          strong  ILIAT School
                        |)
                    ._209g._2vxa(data-block='true', data-offset-key='6eltu-0-0')
                      span(data-offset-key='6eltu-0-0')
                        | – Đặc biệt lớp học Code for everyone là tập hợp của rất nhiều thành phần “bất hảo” có tiếng như Marketing Manager của các công ty công nghệ, Founder Techstartup, những bạn sinh viên tài năng,…
                    ._209g._2vxa(data-block='true', data-offset-key='6a5fr-0-0')
                      span(data-offset-key='6a5fr-0-0')
                        | – Sử dụng Ngôn ngữ lập trình Python: ngôn ngữ nhanh, mạnh, hiệu quả, cực kỳ linh hoạt, đặc biệt thích hợp với những người bắt đầu học Lập trình. Python là ngôn ngữ được sử dụng phổ biến tại Google, Microsoft, IBM, Quora,…và đặc biệt được coi là “ngôn ngữ dành cho khởi nghiệp” tại trung tâm công nghệ cao của thế giới – Silicon Valley.
                    hr
                  .item
                    h3
                      | 3. THÔNG TIN CƠ BẢN
                    p
                      |- Những ai không có nền tảng về CNTT nhưng có định hướng công việc liên quan đến Công nghệ:
                      |  làm việc cho các công ty/dự án về Công nghệ hoặc khởi nghiệp trong lĩnh vực này (Marketer, Co-founder, Salesman,…), đặc biệt làm việc nhiều với developers team.
                    p
                      | – Các bạn làm việc liên quan đến ngành Tài chính – Ngân hàng, Kế toán – Kiểm toán
                      |  phải làm việc với nhiều công cụ, dữ liệu, con số.
                    p
                      | – Các em học sinh chuyên Toán-Tin hoặc yêu thích thế giới Công nghệ từ sớm.
                    p
                      | – Có thái độ học tập nghiêm túc, cầu tiến. Có thể dành ra ít nhất 2-3 tiếng/ngày để Lập trình trong vòng ít nhất 2 tháng khóa học.   
                    h4
                      span
                        | THÔNG TIN LỚP HỌC SẮP TỚI
                    p
                      span
                        |>>> THỜI LƯỢNG HỌC: 
                        | 20 buổi, 3 buổi/tuần, 2h/buổi.
                    p
                      span
                        |>>> THỜI GIAN HỌC: 
                        | Cập nhật trong thời gian sớm nhất.
                    p
                      span
                        |>>> SỸ SỐ: 
                        | 12-15 người. Sẽ đóng đơn đăng ký khi chọn đủ thành viên.
                    p
                      span
                        |>>> HỌC BỔNG:
                        |  3 học bổng 20-50% cho đợt 1. Kết quả dựa vào bài kiểm tra đầu vào và phỏng vấn.
                    hr
                  .item
                    h3(dir='ltr')
                      span 4. TRẢI NGHIỆM CUỘC SỐNG CỦA TECHKIDS
                    p(dir='ltr')
                      span Những chia sẻ và hình ảnh của học viên tại TechKids 
                      a(href='http://bit.ly/Moments_of_TechKids')
                        span TẠI ĐÂY.
                    p(dir='ltr')
                      span
                        | Chúng tôi chẳng muốn ba hoa quảng cáo gì thêm về những khóa học - những gia đình tại TechKids nữa, gần
                      a(href='https://www.facebook.com/Techkids.Code.the.Change/photos/?tab=album&album_id=548390372002566')
                        span 150 học viên trong 6 tháng 
                      span
                        | vừa qua sẽ nói thay chúng tôi những điều đó. Chúng tôi chỉ muốn nói rằng: các bạn trẻ, khi đã thực sự muốn thì quất thôi. Chúng tôi chào đón các bạn tới thế giới của Techkids và cùng viết những dòng code thay đổi cuộc đời của chúng ta, và cả thế giới này, biết đâu đấy :D
                      hr
              section
                .item.syllabus  
                    h3.section_title.col-sm-5.col-xs-9 Các buổi học
                    ul.list-group
                      li.list-group-item
                        h5.list-group-item-heading 1. Introduction 
                        p.list-group-item-text
                          //| Hour of Code (VI), First program: Hello World, Print & Input , Variables Introduction
                      li.list-group-item
                        h5.list-group-item-heading 2. Control flow Statements (1)
                        p.list-group-item-text
                          //| Data types and operators Control Flow Statements while while flowchart Functions & Modules Introduction Turtle introduction
                      li.list-group-item
                        h5.list-group-item-heading 3. Control flow Statements (2)
                        p.list-group-item-text
                          //| List introduction Control Flow Statements (1): for Control Flow statements (2): if - elif - else if-else flow chart
                      li.list-group-item
                        h5.list-group-item-heading 4. Lab 1
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 5. Function: introduction  
                        p.list-group-item-text
                          //| Function: introduction + syntax +List comprehension |
                      li.list-group-item
                        h5.list-group-item-heading 6. Dictionary introduction
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 7. Lab 2 
                        p.list-group-item-text
                          //| Movie Management
                      li.list-group-item
                        h5.list-group-item-heading 8. Object-oriented programming (1)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 9. Object-oriented programming (2)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 10. Lab 3
                        p.list-group-item-text 
                      li.list-group-item
                        h5.list-group-item-heading 11. Data scraping with Python (1)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 12. Data scraping with Python (2)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 13. Lab 4
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 14. Web development (1)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 15. Web development (2)
                        p.list-group-item-text 
                      li.list-group-item
                        h5.list-group-item-heading 16. Lab 5
                        p.list-group-item-text 
                      li.list-group-item
                        h5.list-group-item-heading 17. Project execution & Issue handling (1)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 18. Project execution & Issue handling (2)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 19. Project execution & Issue handling (3)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 20. Hackathon & demo
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 21. Personal consultancy about IT career path (1)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 22. Personal consultancy about IT career path (2)
                        p.list-group-item-text
                          | 
                      li.list-group-item
                        h5.list-group-item-heading 23. Personal consultancy about IT career path (3)
                        p.list-group-item-text
                          | 
                    div(style="text-align:center;margin: 20px auto; width: 30%;")
                      a.btn.btn-danger.btn-block(href='https://docs.google.com/forms/d/1oj6__hLTf5Q0RotIzXxgkfxAmmYRSpcAH2Ve6zsNt3s/viewform') Đăng ký tại đây
