extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle 
      section#about
        .container(style="text-align:justify")  
          .row
            .col-md-8.col-md-offset-2
              h1.column_title Coding Workshop#2: Learn to Code, should I?
              a(href='/chuong-trinh/su-kien/coding-work-shop-2')
                img.img-rounded.img-responsive(src='/cms/img/coding-work-shop-2.jpg')
              hr.content_divider
              h3
                | Giới trẻ Việt Nam thụ động – một thực tế buồn nhưng vẫn phải thừa nhận đây là tình trạng chung của phần đông: <br>
                |chỉ biết những thứ ở trường,<br>
                |chẳng chủ động tự tìm kiếm mục tiêu của bản thân, <br>
                |không xem xét nghiên cứu và học hỏi thế giới xung quanh đang xoay chuyển ra sao, <br>
                |bản thân phải có kế hoạch chuẩn bị thế nào.<br><br>
              P  
                |Chẳng lấy gì làm ngạc nhiên, nhận thức của giới trẻ Việt Nam về thế giới công nghệ - xu hướng của tương lai rất HẠN CHẾ. Trong khi bạn bè quốc tế đang từng bước trau dồi kỹ năng công nghệ để tăng tính cạnh tranh trên thị trường việc làm và rộng hơn là cuộc đua giữa các quốc gia, sinh viên Việt vẫn bình chân, làm tốt cái chuyên môn của mình là an tâm.<br><br>
              p
                |Tiếp nối thành công Coding Workshop#1, Techkids tiếp tục phối hợp với GSA tổ chức Coding Workshop#2 với cùng chủ đề: Learn to code, Should I? với mong muốn hiện thực sứ mệnh truyền động lực và cảm hứng cho tất cả mọi người học lập trình để nắm bắt tương lai công nghệ.<br><br>
              p
                |Bạn có biết: năm 2016 được tờ Fast Company nhận định là năm của Hybrid jobs – có nghĩa nhà tuyển dụng tìm kiếm các ứng viên có kỹ năng công nghệ thông tin để thực hiện hiệu quả nhất vai trò của họ. <br>
                |“More companies are requiring a mix of technology and people skills, and 2016 is being called the year of the hybrid job”. (fastcompany, 2016)<br>
                |“15 năm nữa, chúng ta sẽ dạy lập trình như dạy các kỹ năng ngôn ngữ: đọc, viết ….và chắc chắn lúc ấy chúng ta sẽ tiếc tại sao không học sớm hơn.” Mark Zukerberg - sáng lập Facebook. <br><br>
              p 
                |Tham dự Workshop, bạn sẽ:<br><br>
                |+ Biết được lập trình được mọi người ở các ngành nghề khác nhau: y tế, hàng hải, tài chính, …. ứng dụng để tăng hiệu quả xử lý “Big data” thế nào và từ đó tự tìm câu trả lời cho câu hỏi: Tại sao bạn nên học lập trình?<br>
                |+ Trực tiếp thực hành để hiểu về tư duy, cách thức lập trình với sự hướng dẫn của giảng viên Techkids.<br><br>
              p
                |Đăng ký tham dự Workshop và cùng Techkids và GSA lan tỏa thông điệp Tất cả mọi người nên học lập trình bằng cách share bằng cách chia sẻ sự kiện/ bài viết của sự kiện với bạn bè ở chế độ public nhé. Sau đó copy link bạn share thông tin trong Form đăng ký nha ♥.<br>
              p
                |Thông tin Buổi Workshop:<br><br>
                |Coding Workshop#2: Learn to Code, Should I?<br>
                |Địa điểm: iHouse - ngõ 101 Đào Tấn<br>
                |Thời gian: Chủ nhật ngày 24/04/2016 15:00 - 17:00<br>
                |Link đăng ký: 
                a(href = 'http://bit.ly/FormDangKyzz ') http://bit.ly/FormDangKyzz <br>
                |Link event: 
                a(href ='http://bit.ly/Codingworkshop2') http://bit.ly/Codingworkshop2 <br>
                |WS #1: 
                a(href = 'http://bit.ly/Tech_coding_Workshop') http://bit.ly/Tech_coding_Workshop <br>
                |Fanpage: Techkids - Coding School<br>
                |Google Student Ambassador Vietnam <br>
                |Liên hệ: 0943200169 - Dung | Techkidsvn@gmail.com | Techkids.edu.vn <br><br>
                
                
