extends layout
block content
  section#page_title.page_title.stars
    .container
      .row.fade_up.text-center
        h3.section_title.col-sm-5.col-xs-9 SỰ KIỆN
        p.section_subtitle Khuyến mại, hội thảo, buổi nói chuyện, và hơn nữa...
  section
    .container.articles_list
      hr.content_divider
      // bai viet so 1
      
      // bai viet so 2
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/de-co-01-nam-kinh-nghiem-sinh-vien-it-nen-lam-the-nao')
              img(src='/cms/img/de-co-01-nam-kn.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/de-co-01-nam-kinh-nghiem-sinh-vien-it-nen-lam-the-nao') Để có 01 năm kinh nghiệm, sinh viên IT nên làm thế nào?
          div
            p
              | Ngành công nghệ thông tin hiện nay vẫn đang thiếu nhân lực, thế nhưng không phải ai cũng vận dụng tốt cơ hội đó. Các bạn sinh viên lập trình chắc hẳn đều tự đặt câu hỏi: Liệu ra trường mình có thể kiếm được việc làm hay không, khi mà đầy rẫy thông tin tuyển dụng với chung một yêu cầu: TRÊN 01 NĂM KINH NGHIỆM.HÃY LUÔN CHỦ ĐỘNG ĐỂ NẮM BẮT MỌI CƠ HỘI .
          a.see_more_link(href='/chuong-trinh/su-kien/de-co-01-nam-kinh-nghiem-sinh-vien-it-nen-lam-the-nao')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      // bai viet so 3
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/tim-kiem-nhung-dua-tre-cong-nghe-2016')
              img(src='/cms/img/tim-kiem-nhung-dua-tre-cong-nghe-2016.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/tim-kiem-nhung-dua-tre-cong-nghe-2016') Tìm kiếm Những đứa trẻ Công Nghệ 2016 | TechKids program 2016
          div
            p
              | Lập trình lại 1 thế hệ sinh viên IT (tương lai) của Việt Nam.<br>
              | Tham gia ngay nếu bạn muốn cùng TechKids viết những dòng code thay đổi cuộc đời bạn!
          a.see_more_link(href='/chuong-trinh/su-kien/tim-kiem-nhung-dua-tre-cong-nghe-2016')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      // bai viet so 4
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/hoc-lap-trinh-mien-phi-1-thang')
              img(src='/cms/img/hoc-lap-trinh-mien-phi-1-thang.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/hoc-lap-trinh-mien-phi-1-thang') Học Lập trình miễn phí trong vòng 1 tháng - Code intensive course
          div
            p
              | Nhằm định hướng và mở đường cho các Lập trình viên tương lai, còn đang mù mờ trên ghế giảng đường, TechKids tạo ra chương trình Code Intensive miễn phí cho tất cả học viên, bạn của học viên và những ai vượt qua vòng thi/phỏng vấn đầu vào của TechKids. 
          a.see_more_link(href='/chuong-trinh/su-kien/hoc-lap-trinh-mien-phi-1-thang')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      // bai viet so 5
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/coding-work-shop-2')
              img(src='/cms/img/coding-work-shop-2.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/coding-work-shop-2') Coding Workshop#2: Learn to Code, should I?
          div
            p
              |Giới trẻ Việt Nam thụ động – một thực tế buồn nhưng vẫn phải thừa nhận đây là tình trạng chung của phần đông: <br>
              |chỉ biết những thứ ở trường,<br>
              |chẳng chủ động tự tìm kiếm mục tiêu của bản thân, <br>
              |không xem xét nghiên cứu và học hỏi thế giới xung quanh đang xoay chuyển ra sao, <br>
              |bản thân phải có kế hoạch chuẩn bị thế nào.
          a.see_more_link(href='/chuong-trinh/su-kien/coding-work-shop-2')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      // bai viet so 6
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/free-training-google-apps')
              img(src='/cms/img/free-training-google-apps.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/free-training-google-apps') Free training: Google apps for education
          div
            p
              | GAfE training program đã trở lại cùng Đại sứ sinh viên Google 2016.
              | Trong năm 2015, GAfE đã gặp gỡ và giúp đỡ trên 40 tổ chức, CLB sinh viên tại Hà Nội bằng cách hướng dẫn các bạn sinh viên tối ưu hóa việc sử dụng các công cụ rất gần gũi như Gmail, Drive, Google docs, Calendar. Từ đó, mọi người có thể <br>
              |- Quản lý công việc cá nhân hiệu quả hơn<br>
              |- Làm việc nhóm tốt hơn<br>
              |- Và đặc biệt hỗ trợ các leader điều hành team tốt hơn.
          a.see_more_link(href='/chuong-trinh/su-kien/free-training-google-apps')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      // bai viet so 7
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/keu-goi-500-ae')
              img(src='/cms/img/keu-goi-500-ae.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/keu-goi-500-ae') Kêu gọi 500 anh em TechKids (và bạn bè)
          div
            p
              | Hỡi các anh em TechKids (và bè bạn)
              | Các anh em có muốn có 1 mùa hè ý nghĩa hơn, học hỏi được nhiều hơn và đến TechKids chơi với các bạn gái xinh đẹp khônggggg? Để thoát xác ra khỏi cái giảng đường vừa chán vừa đau khổ, và có những trải nghiệm hết sức "người lớn"?
          a.see_more_link(href='/chuong-trinh/su-kien/keu-goi-500-ae')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      // bai viet so 8
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/coding-workshop-learn-to-code-should-i')
              img(src='/cms/img/coding-workshop-learn-to-code-should-i.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/coding-workshop-learn-to-code-should-i') Coding Workshop: Learn to Code, Should I?
          div
            p
              | To Non - techs <br>
              | Công nghệ thông tin đã và đang thay đổi toàn diện cuộc sống của chúng ta. Mọi thứ trong mọi lĩnh vực đều được tối ưu, nhanh chóng và hiệu quả hơn gấp nhiều lần. Chúng ta không chỉ phụ thuộc vào công nghệ thông tin trong nghiên cứu khoa học mà cả khi giao tiếp, quản lý công việc hay thư giãn giải trí.
          a.see_more_link(href='/chuong-trinh/su-kien/coding-workshop-learn-to-code-should-i')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      // bai viet so 9
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/coding-for-women')
              img(src='/cms/img/coding-for-women.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/coding-for-women') Coding for Women: be Bravery, not be Perfection
          div
            p
              | LẬP TRÌNH VÀ NHỮNG CÂU CHUYỆN RẤT KHÁC <br>
              | Khi nhắc đến lập trình, người ta nghĩ ngay đến đàn ông, như một lối mòn trong suy nghĩ: chỉ con trai mới có thể làm được những việc như thế, cùng lắm chỉ là điểm qua vài phụ nữ thành công hiếm hoi dường như chỉ để vùi dập đi sự bình đẳng đáng có.
          a.see_more_link(href='/chuong-trinh/su-kien/coding-for-women')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      // bai viet so 10
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/workshop-c4e')
              img(src='/cms/img/workshop-c4e.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/workshop-c4e') WORKSHOP "CODE FOR EVERYONE" - Why everyone should learn to code
          div
            p
              | TẠI SAO TẤT CẢ MỌI NGƯỜI ĐỀU NÊN HỌC LẬP TRÌNH? <br>
              | Bạn muốn làm việc trong ngành Công nghệ Thông tin, một trong các lĩnh vực tiềm năng và hot nhất ở Việt Nam hiện tại nhưng lại không có background xuất phát từ Công nghệ thông tin, Lập trình? Nhưng hãy tin rằng cơ hội mở ra không chỉ dành cho các bạn có định hướng học lập trình ngay từ trên ghế nhà trường.
          a.see_more_link(href='/chuong-trinh/su-kien/workshop-c4e')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
      article.row
        .col-sm-4
          .news_thumbnail.fade_scale
            a(href='/chuong-trinh/su-kien/english-and-it-why-how-what')
              img(src='/cms/img/talkshow english and it.jpg')
        .col-sm-8.fade_left
          h3.column_title
            a(href='/chuong-trinh/su-kien/english-and-it-why-how-what') English and IT – Why, How, What?
          div
            p
              | “English and IT – Why, How, What” là sự kiện được tổ chức bởi câu lạc bộ Tiếng Anh ILEC, trực thuộc Ban Chấp hành Liên Chi Đoàn Viện Cơ Khí – Đại học Bách Khoa Hà Nội. Đây là cơ hội dành cho tất cả các bạn sinh viên đến giao lưu, trao đổi nhằm có những hiểu biết tổng quan và định hướng học tập cho hai ngôn ngữ quan trọng bậc nhất: Tiếng Anh và Lập trình. Sự kiện được tài trợ bởi ILEC – Cộng đồng Ngôn ngữ và Giáo dục Quốc tế và TechKids – Cộng đồng Lập trình viên Tài năng.
          a.see_more_link(href='/chuong-trinh/su-kien/english-and-it-why-how-what')
            | Chi tiết 
            span.fa.fa-chevron-right(aria-hidden='true')
      hr.content_divider
