extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle 
      section#about
        .container(style="text-align:justify")  
          .row
            .col-md-8.col-md-offset-2
              h1.column_title Kêu gọi 500 anh em TechKids (và bạn bè)
              p
                |Thứ 2, Ngày 31 Tháng 7 Năm 2017
              a(href='/chuong-trinh/su-kien/keu-goi-500-ae')
                img.img-rounded.img-responsive(src='/cms/img/keu-goi-500-ae.jpg')
              hr.content_divider
              h3
                |Hỡi các anh em TechKids (và bè bạn)<br><br>
              p
                |Các anh em có muốn có 1 mùa hè ý nghĩa hơn, học hỏi được nhiều hơn và đến TechKids chơi với các bạn gái xinh đẹp khônggggg? Để thoát xác ra khỏi cái giảng đường vừa chán vừa đau khổ, và có những trải nghiệm hết sức "người lớn"?<br><br>
              p
                |TechKids đang tuyển một số công việc và vị trí sau (chỉ dành cho học viên và bạn học viên thôi nhé).<br>
                |Thông tin sau đây vô cùng ngắn gọn, nên nếu có hứng thú thì cứ đăng ký đã nhé, anh chị sẽ xác nhận với từng đứa sau. Tất cả công việc sau đây đều được training, có tiền hỗ trợ, tham gia các hoạt động khác,...<br>
                |Thông tin chi tiết: 
                a(href ='http://bit.ly/500_anh_em_dau_roi') http://bit.ly/500_anh_em_dau_roi<br>
                |Đăng ký tại đây: 
                a(href = 'http://bit.ly/500_anh_em_tai_TechKids') http://bit.ly/500_anh_em_tai_TechKids <br><br>
                |Hẹn gặp 500 anh em trong hè này~<br><br>
                |(Lý do lập event này là để các học viên Techkids chia sẻ được cho bạn bè của mình)<br><br>

            
                
                


                
 
              
