extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle 
      section#about
        .container(style="text-align:justify")  
          .row
            .col-md-8.col-md-offset-2
              h1.column_title Học Lập trình miễn phí trong vòng 1 tháng - Code intensive course
              p
                |Thời điểm: 9h Thứ 5, Ngày 27 Tháng 4 Năm 2017 
              a(href='/chuong-trinh/su-kien/hoc-lap-trinh-mien-phi-1-thang')
                img.img-rounded.img-responsive(src='/cms/img/hoc-lap-trinh-mien-phi-1-thang.jpg')
              hr.content_divider
              h3
                | Nhằm định hướng và mở đường cho các Lập trình viên tương lai, còn đang mù mờ trên ghế giảng đường, TechKids tạo ra chương trình Code Intensive miễn phí cho tất cả học viên, bạn của học viên và những ai vượt qua vòng thi/phỏng vấn đầu vào của TechKids. <br><br>
              P  
                |HỌC CODE INTENSIVE NHƯ THẾ NÀO? <br>
                |- Thời lượng: 9 buổi học + 2 Hackathon + 1 Demo day. <br>
                |- Thời gian khai giảng CI #4: 26/04. Lịch học: tối t3 (7 - 9pm), chiều t7, chiều CN (2 - 4h)<br>
                |- Sỹ số: 15 người/lớp
                |- Chương trình học cụ thể: 
                a(href = 'http://bit.ly/Code_intensive_lessons') http://bit.ly/Code_intensive_lessons <br>
                |- Nội quy lớp học (các bạn đọc thật kỹ nhé!): 
                a(href = 'http://bit.ly/Policy_CI') http://bit.ly/Policy_CI <br>
                |Học ở TechKids, dù bất cứ khóa học nào cũng cần sự đầu tư thời gian, công sức, chất xám. Học hành vớ vẩn là không sống sót được ở đây đâu nhé các bạn trẻ :D <br>
                |(Nội quy này dành cho những bạn không đăng ký khóa Mobile apps development (MAD) ngay từ đầu. Những bạn đăng ký MAD ngay từ đầu cũng được free CI và sẽ tuân thủ nội quy của MAD)<br><br>
                |BẠN LÀ AI?<br>
                |- Ưu tiên học viên (tương lai) và bạn của học viên tại TechKids.<br>
                |- Sinh viên ĐH Bách Khoa Hà Nội, FPT, Công Nghệ và Bưu chính viễn thông.<br>
                |- Biết/đã từng học 1 trong số các ngôn ngữ Lập trình sau: C, C++, C#, Java. Biết OOP là một lợi thế.<br>
                |- Có thể dành đủ ít nhất 3h/ngày trong vòng 1 tháng để học và luyện tập.<br>
                |- Có ý thức và thái độ đủ tốt để tuân thủ các nội quy trong lớp học của TechKids.<br><br>
              p  
                |BẠN NHẬN ĐƯỢC GÌ SAU KHÓA HỌC?<br>
                |- Làm được 1 game hoàn chỉnh tính năng và giao diện<br>
                |- Được nhận vào lớp Mobile apps development (iOS/Android) và được giảm 5% học phí<br>
                |- Hackathon cuối khóa: Đội giải nhất (500K) - Nhì (300K) - Ba (200K) và một số phần thưởng đặc biệt khác.<br><br>
              p
                |LÀM THẾ NÀO THAM GIA CI?<br>
                |1. Chia sẻ sự kiện trên trang cá nhân của mình (để chế độ public)<br>
                |2. Đăng ký tại đây 
                a(href ='http://bit.ly/CI_class_registration ') http://bit.ly/CI_class_registration <br>
                |3. Test đầu vào, phỏng vấn và live code trong vòng 3-4 tiếng.<br><br>
              p
                |KẾT NỐI VỚI TECHKIDS<br>
                |TechHub 1: Số 28, ngách 10, ngõ 121, Chùa Láng<br>
                |TechHub 2: Số 101D, ngõ 95, Chùa Bộc<br>
                |Hotline: Ms. Hà: 0165 300 5670 <br>
                |Email: techkidsvn@gmail.com <br>
                |Fanpage: 
                a(href = 'https://www.facebook.com/Techkids.Code.the.Change') https://www.facebook.com/Techkids.Code.the.Change <br>
                |Website: 
                a(href = 'http://techkids.edu.vn/') http://techkids.edu.vn/ <br><br>
                
                
 

 
 
                  
