extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle
      section#about
        .container(style="text-align:justify")
          .row
            .col-md-8.col-md-offset-2
              h1.column_title Coding for Women: be Bravery, not be Perfection
              a(href='/chuong-trinh/su-kien/coding-for-women')
                img.img-rounded.img-responsive(src='/cms/img/coding-for-women.jpg')
              hr.content_divider
              h3
                |LẬP TRÌNH VÀ NHỮNG CÂU CHUYỆN RẤT KHÁC <br>
              p
                |Khi nhắc đến lập trình, người ta nghĩ ngay đến đàn ông, như một lối mòn trong suy nghĩ: chỉ con trai mới có thể làm được những việc như thế, cùng lắm chỉ là điểm qua vài phụ nữ thành công hiếm hoi dường như chỉ để vùi dập đi sự bình đẳng đáng có.<br><br>
              p
                |Khoa học chứng minh rằng, phụ nữ có tư duy lập trình tốt hơn con trai, đặc biệt trong lập trình game. Hơn nữa, sự phát triển tư duy của phụ nữ hình thành từ rất sớm. Vậy do đâu, câu chuyện lập trình chỉ con trai mới có thể đảm nhận?<br><br>
              p
                |Một khảo sát về việc thử thách đối với những đứa trẻ học lớp 5 khi giao những bài toán cho chúng. Người ta nhận thấy những đứa trẻ nữ có tư duy tốt hơn hẳn tuy nhiên, chúng lại dễ nản chí hơn. Việc con trai quyết tâm đến cùng để làm việc với những bài toán khiến chúng thông minh hơn gấp đôi. Việc nản chí này dần dần hình thành trong cuộc sống của nữ giới khiến họ bị đẩy vào lối mòn với tư duy kém hơn hẳn so với nam giới. <br><br>
              p
                |Phụ nữ muốn tiệm cận sự hoàn hảo nhưng họ không dũng cảm để làm điều đó. Với chủ đề: BE BRAVERY, NOT BE PERFECTION, chúng tôi muốn đem đến cái nhìn hoàn toàn mới cho phụ nữ về lập trình và nguồn cảm hứng mới mẻ để tạo nên một thế giới tốt đẹp hơn bằng chuỗi chương trình: <br><br>
              p
                |- Thực hiện khảo sát và đánh giá về chủ đề: Phụ nữ và lập trình dưới góc nhìn của 2 giới<br>
                |- Trao tặng học bổng tài năng cho những cô gái tài năng cho 2 khóa học: Lập trình cho mọi người (C4E) và lập trình di động (MAD)<br>
                |- WORKSHOP OFFLINE với Google Developer Group Hanoi - GDG HaNoi với chủ đề: WOMEN TECHMAKERS với các diễn giả đã, đang hoặc không theo lập trình nhưng họ dùng lập trình như một công cụ để quản lý cuộc sống tốt đẹp hơn. Đăng ký tại: 
                a(href ='http://bit.ly/GDGHaNoi_Women_Day') http://bit.ly/GDGHaNoi_Women_Day<br>
                |Thời gian: 9h00 | 27/03/2016<br>
                |Địa điểm: 18 Tam Trinh - VTC Academy<br>
                |- Chuỗi hoạt động online khác được tổ chức bởi Techkids dành riêng cho phụ nữ<br><br>
                |Mọi chi tiết vui lòng liên hệ: HÀ NGUYỄN (0165 300 5670)<br><br>
 
