
extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle
      section#about
        .container(style="text-align:justify")
          .row
            .col-md-8.col-md-offset-2
              h1.column_title Coding Workshop: Learn to Code, Should I?
              a(href='/chuong-trinh/su-kien/coding-workshop-learn-to-code-should-i')
                img.img-rounded.img-responsive(src='/cms/img/coding-workshop-learn-to-code-should-i.jpg')
              hr.content_divider
              h3
                |To Non - techs <br>
              p
                |Công nghệ thông tin đã và đang thay đổi toàn diện cuộc sống của chúng ta. Mọi thứ trong mọi lĩnh vực đều được tối ưu, nhanh chóng và hiệu quả hơn gấp nhiều lần. Chúng ta không chỉ phụ thuộc vào công nghệ thông tin trong nghiên cứu khoa học mà cả khi giao tiếp, quản lý công việc hay thư giãn giải trí.<br>
                |Thế nhưng, số người hiểu và biết ngôn ngữ lập trình để tạo ra những công cụ hiệu quả kia vẫn là thiểu số. <br><br>
                |“15 năm nữa, chúng ta sẽ dạy lập trình như dạy các kỹ năng ngôn ngữ: đọc, viết ….và chắc chắn lúc ấy chúng ta sẽ tiếc tại sao không học sớm hơn.” Mark Zukerberg - sáng lập Facebook. <br><br>
                |Với mong muốn thông điệp: Lập trình sẽ là một thứ ngôn ngữ phổ dụng mà ai cũng nên và cần học sớm nhất có thể lan tỏa mạnh mẽ trong cộng đồng sinh viên Kinh tế, Techkids – Coding Schools và Google Student Ambassadors hợp tác tổ chức Coding Workshop: Learn to Code, Should I?<br><br>
                |Workshop hướng tới sinh viên khối ngành kinh tế (thường có ít nền tảng về công nghệ thông tin) với hy vọng có thể truyền cảm hứng họ để không chỉ sẵn sàng cho thị trường lao động mà còn sẵn sàng bắt nhịp với công nghệ thông tin và tạo nên các bước đột phá thay đổi cộng đồng trở nên tốt đẹp hơn.<br><br>
                |+ Hiểu thêm về các ứng dụng của học Lập trình trong công việc và cuộc sống: từ sắp xếp, quản lý dữ liệu, tạo ra các thao tác tự động trên gmail, google sheet hay hiểu được cách các phần mềm được thiết kế, từ đó có khả năng phát triển các sản phẩm mới,....<br>
                |+ Trực tiếp thực hành để hiểu về tư duy, cách thức lập trình với sự hướng dẫn của giảng viên Techkids.<br><br>
                |Công nghệ là xu hướng, bạn muốn chủ động nắm bắt hay bị động chịu chi phối? Đăng ký tham dự Workshop để bước những bước đầu tiên vào thế giới công nghệ nhé!<br>
                |Ngoài điền các thông tin cá nhân cơ bản, hãy trở thành 1 mắt xích quan trọng trong chiến dịch lan tỏa thông điệp Tất cả mọi người đều nên học lập trình của chúng tôi bằng cách chia sẻ sự kiện/ bài viết của sự kiện với bạn bè nhé. Sau đó copy link bạn share thông tin trong Form đăng ký nha ♥.<br>
                |--------------------------------------------<br>
                |Coding Workshop: Learn to Code, Should I?<br>
                |Địa điểm: Tầng 2 - số 28 ngách 10 ngõ 121 Chùa Láng<br>
                |Thời gian: 15:00 - 17:00 Chủ nhật ngày 03.04.2016<br>
                |Link đăng ký: 
                a(href ='http://bit.ly/DangkythamduWS') http://bit.ly/DangkythamduWS <br>
                |Link event: 
                a(href ='http://bit.ly/Tech_coding_Workshop') http://bit.ly/Tech_coding_Workshop <br>
                |Fanpage: Techkids - Coding School<br>
                |Google Student Ambassador Vietnam<br>
                |Liên hệ: 0943200169 - Dung | Techkidsvn@gmail.com | Techkids.edu.vn<br><br>
                
                
                


 
