extends layout
block content
  section
    .container
      hr(style="height:50px").content_divider
      div(style="text-align:center")
        a(href='/events/1')
          img(src='cms/img/talkshow english and it.jpg')
        hr.content_divider
      div(style="text-align:justify")  
        h1
          | English and IT – Why, How, What?
        p 
          | “English and IT – Why, How, What” là sự kiện được tổ chức bởi câu lạc bộ Tiếng Anh ILEC, trực thuộc Ban Chấp hành Liên Chi Đoàn Viện Cơ Khí – Đại học Bách Khoa Hà Nội. Đây là cơ hội dành cho tất cả các bạn sinh viên đến giao lưu, trao đổi nhằm có những hiểu biết tổng quan và định hướng học tập cho hai ngôn ngữ quan trọng bậc nhất: Tiếng Anh và Lập trình. Sự kiện được tài trợ bởi ILEC – Cộng đồng Ngôn ngữ và Giáo dục Quốc tế và TechKids – Cộng đồng Lập trình viên Tài năng.
          | Quyền lợi của người tham dự:
        p
          | – Giao lưu với diễn giả là những chuyên gia dày dặn kinh nghiệm trong lĩnh vực Lập trình và Giảng dạy Tiếng Anh.
        p
          | + Anh Nguyễn Văn Quí – Người sáng lập Cộng đồng Ngôn ngữ và Giáo dục Quốc tế ILEC.
        p
          | + Anh Nguyễn Thanh Tùng – Đồng sáng lập Cộng động Lập trình viên Tài năng TechKids.
        p
          | + Anh Đỗ Anh Tú – Giảng viên tại Cộng đồng Lập trình viên Tài năng TechKids, Đồng sáng lập trang web Haivl.com, tác giả game 2048 với 3 triệu lượt tải từ Appstore.
        p
          | – Học hỏi kinh nghiệm, trực tiếp thực hành nhằm rút ra bài học thiết thực về phương pháp học Tiếng Anh hiệu quả, tư duy Lập trình thông minh, sáng tạo.
        p
          | – Tăng vốn hiểu biết về vai trò của Tiếng Anh và Lập trình trong thời kì mở cửa, cũng như cơ hội, lợi thế của hai ngôn ngữ này trong thị trường lao động Việt Nam.
        p
          | – Nhận những học bổng vô cùng giá trị từ hai nhà tài trợ ILEC và TechKids.
        p
          | Còn chần chừ gì nữa! Hãy tham gia ngay thôi!
        p
          | Địa điểm tổ chức: Hội trường B6, Kí túc xá Đại học Bách Khoa Hà Nội.
        p
          | Thời gian: 17h30, ngày 14 tháng 01 năm 2016.
        p
          | Link đăng ký tham gia sự kiện: 
          a(href='http://goo.gl/forms/6Vbt8VrftC') TẠI ĐÂY.
        p
          | Link sự kiện: 
          a(href='https://web.facebook.com/events/1313964615296466/') TẠI ĐÂY.
        p
          | Thông tin về ILEC – Cộng đồng Ngôn ngữ và Giáo dục Quốc tế:
          a(href='https://web.facebook.com/ilecvietnam') TẠI ĐÂY.
        p
          | Thông tin về TechKids – Cộng đồng Lập trình viên tài năng:
          a(href='https://web.facebook.com/Techkids.Code.the.Change') TẠI ĐÂY
        p
          | Hotline: Ms.Phương: 0973 243 598 hoặc 0961 576 515.
