extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle 
      section#about
        .container(style="text-align:justify")  
          .row
            .col-md-8.col-md-offset-2
              h1.column_title Free training: Google apps for education
              p
                |Chủ Nhật, Ngày 30 Tháng 4 Năm 2017
              a(href='/chuong-trinh/su-kien/free-training-google-apps')
                img.img-rounded.img-responsive(src='/cms/img/free-training-google-apps.jpg')
              hr.content_divider
              h3
                | GAfE training program đã trở lại cùng Đại sứ sinh viên Google 2016.<br><br>
              h4  
                |Trong năm 2015, GAfE đã gặp gỡ và giúp đỡ trên 40 tổ chức, CLB sinh viên tại Hà Nội bằng cách hướng dẫn các bạn sinh viên tối ưu hóa việc sử dụng các công cụ rất gần gũi như Gmail, Drive, Google docs, Calendar. Từ đó, mọi người có thể <br>
                |- Quản lý công việc cá nhân hiệu quả hơn<br>
                |- Làm việc nhóm tốt hơn<br>
                |- Và đặc biệt hỗ trợ các leader điều hành team tốt hơn.<br><br>
              p
                |2016 GAfE quay lại dưới sự hỗ trợ của TechKids - Coding school với format được điều chỉnh và update hơn.<br><br>
                |ĐỐI TƯỢNG THAM GIA:<br>
                |- Các tổ chức, nhóm sinh viên tại Hà Nội, VD tại FTU, NEU,...<br>
                |- Số lượng: 15 - 20 người. Nếu dưới 15 người, GSA sẽ không nhận lời tham dự. Nếu trên 20 người, bạn nên chia đôi làm nhiều buổi.<br>
                |- Những tổ chức đã được nhận lời tham gia GAfE sẽ được ưu tiên tham gia các chương trình khác trong thời gian tới: VD Code for everyone, women techmaker,...<br><br>
              p
                |YÊU CẦU:<br>
                |- Điền đơn đăng ký trước ít nhất 2 ngày muốn training tại đây: 
                a(href = 'http://bit.ly/GAfE_Training') http://bit.ly/GAfE_Training<br>
                |- First come first serve. Nếu đã có người đăng ký vào thời gian đó trước bạn thì GSA sẽ chuyển sang buổi sau.<br>
                |- Đảm bảo đúng số lượng đã đăng ký. Nếu không, GSA sẽ không chịu trách nhiệm về vấn đề số lượng, phòng ốc.<br>
                |- Đừng quên chia sẻ thông tin chương trình này trước khi đăng ký nhé! Nếu bạn có fanpage của tổ chức, thì hãy chia sẻ trên đó, nếu không thì có thể chia sẻ bằng facebook của người đại diện.<br>
                |- Mang theo laptop và sạc laptop.<br><br>
              p
                |MỘT SỐ THÔNG TIN CƠ BẢN: <br>
                |- ND của sharing: Gmail, Drive, Google docs và Calendar (nếu còn thời gian)<br>
                |- Thời lượng: 2 - 2.5 tiếng<br>
                |- Địa điểm: Cơ sở 1, ILIAT Education, số 28, ngách 10, ngõ 121 chùa Láng.<br><br>
              p
                |NGƯỜI HƯỚNG DẪN<br>
                |1. Nguyễn Hà San<br>
                |- Top 3 GSA Đông Nam Á 2015<br>
                |- Từng được mời tham dự Google Summit, Philippines và thăm Google office, Singapore<br>
                |- Hiện đang là Marketing manager tại ILIAT Education (Tiền thân Thư quán doanh nhân HN) và TechKids - Coding school<br><br>
                |(Update soon)<br><br>
                |Cảm ơn các bạn. Hy vọng chương trình này tiếp tục đem đến những điều bổ ích :D<br>
                |Hẹn gặp lại!<br><br>
                
                


                
 
              
