//output:article-2.html
extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle 
      section#about
        .container(style="text-align:justify")  
          .row
            .col-md-8.col-md-offset-2
              h1.column_title Để có 01 năm kinh nghiệm, sinh viên it nên làm thế nào?
              a(href='/chuong-trinh/su-kien/de-co-01-nam-kinh-nghiem-sinh-vien-it-nen-lam-the-nao')
                img.img-rounded.img-responsive(src='/cms/img/de-co-01-nam-kn.jpg')
              hr.content_divider
              h3
                | Chào các bạn
              P  
                | Ngành công nghệ thông tin hiện nay vẫn đang thiếu nhân lực, thế nhưng không phải ai cũng vận dụng tốt cơ hội đó. Các bạn sinh viên lập trình chắc hẳn đều tự đặt câu hỏi: Liệu ra trường mình có thể kiếm được việc làm hay không, khi mà đầy rẫy thông tin tuyển dụng với chung một yêu cầu: TRÊN 01 NĂM KINH NGHIỆM.

                | Download 
                a(href='https://drive.google.com/drive/u/0/folders/0BxuJ3wWBgH7ZcVVFVWFIeEtsTnc') Tại đây
              p  
                | Bạn đang là sinh viên công nghệ thông tin? Đúng
              p  
                | Bạn vẫn đang xách cặp đến trường đại học hàng ngày để học thầy học bạn? Chính xác
              p  
                | Bạn không có đủ thời gian cũng như khả năng để kiếm được việc làm nhằm tích lũy kinh nghiệm tại thời điểm hiện tại? Đương nhiên
              p  
                | Và bạn chấp nhận “01 năm kinh nghiệm” kia là nhiệm vụ bất khả thi đối với mình?
              p
                | <br>
                | Bạn không sai, nhưng chúng tôi có lý do để cho rằng bạn chưa đúng.<br>
              p 
                | Là sinh viên, bạn có tổng thời gian gấp 5 lần so với “01 năm kinh nghiệm”<br>
                | Là sinh viên, bạn vẫn có thể tự học thêm, tự làm các project và học hỏi kinh nghiệm từ thầy cô bạn bè <br>
                | Là sinh viên, bạn vẫn có thể vừa học vừa làm công việc bán thời gian, được vận dụng những gì mình đã học và tích lũy. <br>
                | Bởi vì cơ hội xung quanh rất nhiều, điều quan trọng nhất là bạn có chủ động và biết nắm bắt lấy cơ hội hay không.<br><br>
              p 
                | HÃY LUÔN CHỦ ĐỘNG ĐỂ NẮM BẮT MỌI CƠ HỘI <br> ------------------------------------------------------------------------------------- <br>
              p 
                | WORKSHOP: “SINH VIÊN IT LÀM CÁCH NÀO ĐỂ CÓ 01 NĂM KINH NGHIỆM” <br>
                |- Đơn vị tổ chức: Techkids - Code the change, cộng đồng toàn cầu của những người sẵn sàng trở thành những người giỏi nhất, khác biệt nhất trong thế giới Công nghệ
                |- Thời gian dự kiến: thứ 7 ngày 04/06/2016 <br> <br>
              p
                | Đến với workshop, các bạn sinh viên lập trình sẽ được: <br>
                |- Tìm hiểu về bài toán tuyển dụng của các công ty, tập đoàn công nghệ cũng như các Tech Start-up hiện nay, yêu cầu “01 năm kinh nghiệm” cụ thể là gì <br>
                |- Học hỏi kinh nghiệm từ các lập trình viên thành công, cách họ đã trang bị để sẵn sàng đương đầu với thử thách <br>
                |- Tư vấn cụ thể cách ứng tuyển các vị trí: Cách viết CV, phỏng vấn và cơ hội rất lớn để được kết nối đến 30 đối tác tuyển dụng của Techkids tại Việt Nam và khu vực ASEAN.<br><br>
              p 
                |Link đăng kí và nhận thông tin cập nhật: 
                a(href='http://bit.ly/01namkinhnghiemIT') Tại đây <br>
                |Lưu ý: Số lượng tham gia tối đa là 50 người.
                
                

 
 
 
                

 
 
                
 

 
 
                
 

 
