extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle
      section#about
        .container(style="text-align:justify")
          .row
            .col-md-8.col-md-offset-2
              h1.column_title WORKSHOP "CODE FOR EVERYONE" - Why everyone should learn to code
              a(href='/chuong-trinh/su-kien/workshop-c4e')
                img.img-rounded.img-responsive(src='/cms/img/workshop-c4e.jpg')
              hr.content_divider
              h3
                |TẠI SAO TẤT CẢ MỌI NGƯỜI ĐỀU NÊN HỌC LẬP TRÌNH? <br>
              p
                |Bạn muốn làm việc trong ngành Công nghệ Thông tin, một trong các lĩnh vực tiềm năng và hot nhất ở Việt Nam hiện tại nhưng lại không có background xuất phát từ Công nghệ thông tin, Lập trình? Nhưng hãy tin rằng cơ hội mở ra không chỉ dành cho các bạn có định hướng học lập trình ngay từ trên ghế nhà trường. <br><br>
              p
                |Hoặc nếu bạn có mong muốn học code để phục vụ cho công việc của bản thân, ví dụ như bạn đang là manager tại một công ty công nghệ nhưng lại không có kiến thức gì về lập trình và bạn muốn biết lập trình để điều hành công ty của mình tốt hơn, kết nối với nhân viên của mình tốt hơn........ thì câu chuyện từ những diễn giả của workshop CODE FOR EVERYONE sẽ vô cùng hữu ích.<br><br>
              p
                |Hay chỉ đơn giản rằng lập trình là dành cho tất cả mọi người như Steve Jobs đã từng nói: "Mọi người trên quốc gia này (ý nói nước Mỹ) nên học lập trình và nó dạy cho chúng ta cách tư duy" - và bạn tin rằng bạn nên học lập trình, vì một lí do nào đó......<br><br>
              p
                |DIỄN GIẢ, HỌ LÀ AI?<br><br>
                |1, Anh Nguyễn Thanh Tùng,<br>
                |- Học bổng toàn phần Công nghệ thông tin Đại học FPT<br>
                |- Kinh nghiệm làm lập trình ở Đức, Mỹ<br>
                |- Hiện tại là Head of TECHKIDS – Công đồng lập trình viên chất lượng cao<br><br>
                |2, Chị Nguyễn Trang Nhung,<br>
                |- Tốt nghiệp khoa Công nghệ Thông tin Đại học Bách Khoa Hà Nội, chuyển tiếp học tập tại Nhật Bản<br>
                |- Kinh nghiệm làm developer, tester, biz analyst<br>
                |- Hiện tại là Project Manager tại Tập đoàn Viễn thông Quân đội Viettel<br><br>
              p
                |CHÚNG TÔI KỂ CHUYỆN GÌ?<br><br>
                |Bất kì ai khi bắt đầu với lập trình đều có cực nhiều trăn trở<br>
                |- Tại sao ai cũng nên học lập trình?<br>
                |- Có phải tôi đã quá muộn để học lập trình?<br>
                |- Học đến bao giờ và học đến định mức nào là “đủ”....?<br><br>
              p
                |Bạn không phải là người duy nhất tự hỏi những điều ấy. Những câu hỏi đó đều sẽ xuất hiện trong câu chuyện của các diễn giả, những người với kinh nghiệm phong phú trong lĩnh vực kinh doanh công nghệ, từ môi trường khởi nghiệp quốc tế đến tập đoàn quốc gia. Vậy tại sao không dành một vài tiếng cuối tuần cùng với workshop CODE FOR EVERYONE, để tự khám phá câu trả lời?<br>
                |---------------------------------------------------------------------<br><br>
                |Thông tin cơ bản chương trình:<br>
                |- Thời gian: 15h00-17h30 Thứ Bảy ngày 14/11/2015<br>
                |- Địa điểm: Tầng 2, The Coffee Inn, 32 chùa Láng, Đống Đa, Hà Nội<br><br>
                |Chương trình chỉ dành cho 40 bạn đăng kí tham dự sớm nhất, vậy nên ĐỪNG CHẦN CHỪ MÀ HÃY ĐĂNG KÍ THAM DỰ ngay hôm nay nhé!<br><br>
                |Đăng ký tham gia chương trình tại: 
                a(href ='http://tinyurl.com/codeforeveryone') http://tinyurl.com/codeforeveryone <br>
                |Deadline đăng ký tham dự chương trình: 23h59 Thứ Sáu ngày 13/11/2015<br>
                |---------------------------------------------------------------------<br><br>
                |TechKids - Cộng đồng lập trình viên chất lượng cao, hiện tại trực thuộc Tổ chức Giáo dục vì cộng đồng TQDN Việt Nam với 1200+ thành viên đến từ những trường Đại học và công ty về Công nghệ – Kinh tế – Kinh doanh danh giá nhất trên thế giới: Harvard, Stanford, Oxford,…hay Unilever, Uber, Grabtaxi,….<br><br>
                |KẾT NỐI VỚI TECHKIDS:<br>
                |Số điện thoại: Ms Hà 0165 300 5670<br>
                |Email: techkidsvn@gmail.com<br>
                |Fanpage: 
                a(href= 'www.facebook.com/Techkids.Code.the.Change') www.facebook.com/Techkids.Code.the.Change<br>
                |Website:
                a(href = 'techkids.vn') techkids.vn<br><br>
                
                
                
                
                

                
                
                
              
