extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle 
      section#about
        .container(style="text-align:justify")  
          .row
            .col-md-8.col-md-offset-2
              h1.column_title Tìm kiếm Những đứa trẻ Công Nghệ 2016 | TechKids program 2016
              p
                | Thứ 7, Ngày 31 Tháng 12 Năm 2016.
              a(href='/chuong-trinh/su-kien/tim-kiem-nhung-dua-tre-cong-nghe-2016')
                img.img-rounded.img-responsive(src='/cms/img/tim-kiem-nhung-dua-tre-cong-nghe-2016.jpg')
              hr.content_divider
              h3
                | Lập trình lại 1 thế hệ sinh viên IT (tương lai) của Việt Nam.<br>
                | Tham gia ngay nếu bạn muốn cùng TechKids viết những dòng code thay đổi cuộc đời bạn!<br><br>
              P  
                | TechKids là một trường học đem kiến thức và kỹ năng Lập trình để xây dựng một thế giới tốt đẹp hơn. Ở đây, chúng tôi nuôi dưỡng những đam mê, ước mơ, sự sáng tạo, khác biệt, rèn luyện tính kỷ luật và thái độ khiêm tốn, nỗ lực không ngừng. <br> <br>

                | 2016, TechKids có những chương trình đặc biệt sau để tất cả các bạn có thể tham khảo và lựa chọn tham gia.<br><br>
              p  
                |A. CÁC CHƯƠNG TRÌNH LỚN:<br>
                |1. Mobile apps development (Android - iOS):<br>
                |>> iOS: 
                a(href = 'http://techkids.vn/khoa-hoc/iOS') http://techkids.vn/khoa-hoc/iOS <br>
                |>> Android: 
                a(href = 'http://techkids.vn/khoa-hoc/android') http://techkids.vn/khoa-hoc/android <br>
                |2. Full-stack web development (NodeJS):<br>
                |>>
                a(href = 'http://techkids.vn/khoa-hoc/web-fullstack') http://techkids.vn/khoa-hoc/web-fullstack<br>
                |3. Code for everyone (cho những người không có background về Lập trình)<br>
                |>>
                a(href = 'http://techkids.vn/khoa-hoc/code-for-everyone') http://techkids.vn/khoa-hoc/code-for-everyone<br>
                |4. Summer code camp for IT students (Học fulltime Android hoặc iOS, ăn ngủ tại TechKids trong vòng 1 tháng hè)<br>
                |>> Update soon.<br>
                |5. Summer code camp for Kids (dành cho trẻ em cấp 2, cấp 3)<br>
                |>> Update soon.<br>
                |Nếu bạn quan tâm đến 2 code camp trên thì đăng ký tại đây, TechKids sẽ gửi bạn ngay sau khi có thông tin chính thức: <br>
                |>>
                a(href = 'http://bit.ly/Code_camp_registration') http://bit.ly/Code_camp_registration<br>
                |6. Chương trình dạy code intensive miễn phí tròng 1 tháng<br>
                |>> Miễn phí cho tất cả học viên của TechKids<br>
                |>> Miễn phí dành cho các sinh viên IT trên khắp HN<br>
                |Thông tin chi tiết: 
                a(href = 'https://www.facebook.com/events/1082359775119300/') https://www.facebook.com/events/1082359775119300/<br><br>
              
              p
                |B. QUÁ TRÌNH TUYỂN:<br>
                |>> Vòng 1: Đơn đăng ký<br>
                |>> Test: 1.5h làm bài kiểm tra Lập trình OOP/Java/C++ (cho những ai có nền tảng), tư duy logic (cho ai chưa có nền tảng) và tiếng Anh cơ bản.<br>
                |>> Phỏng vấn: 3-5h, Live code, ăn hành.<br><br>
              p
                |C. TRẢI NGHIỆM TẠI TECHKIDS<br>
                |>>
                a(href ='http://bit.ly/Moments_of_Techkids') http://bit.ly/Moments_of_Techkids<br>
                |LƯU Ý: Alumni của TechKids/ILIAT school được giảm 10% học phí. Được Alumni TechKids/ILIAT School giới thiệu sẽ được tặng 5% học phí.<br><br>
              p
                |D. MỘT SỐ THÔNG TIN KHÁC:<br>
                |- TechKids có hơn 30 đối tác là các công ty lớn trong nước và ở ASEAN, US (xin được giấu tên) sẽ gửi dự án cho TechKids và nhận học viên của TechKids làm việc (fulltime/parttime)<br>
                |- TechKids hỗ trợ ăn, ngủ, ở tại TechKids.<br>
                |- Học bổng cho những bạn có tiềm năng và thái độ tốt nhất. Mỗi khóa học có khoảng 15 - 22 triệu tiền Học bổng.<br>
                |- Luôn có phần thưởng cho sự nỗ lực!<br><br>
              p
                |E. KẾT NỐI VỚI TECHKIDS<br>
                |- Số điện thoại: Ms Hà Nguyễn 0165 300 5670 hoặc Ms Dung<br>
                |- Email: Techkidsvn@gmail.com | Website: 
                a(href='techkids.vn') techkids.vn<br>
                |- Fanpage: 
                a(href ='https://www.facebook.com/Techkids.Code.the.Change') https://www.facebook.com/Techkids.Code.the.Change<br>
                |- Địa chỉ: <br>
                || TechHub 1: Số 28/10, ngõ 121 Chùa Láng<br>
                || TechHub 2: Số 101D, ngõ 95 Chùa Bộc.<br>
 
 
 
 
 

 

 
                  
