extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
// Facebook Pixel Code
  script.
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1935350096690516');
    fbq('track', "PageView");
  noscript
    img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1935350096690516&ev=PageView&noscript=1')
  // End Facebook Pixel Code

block content
  section#intro.intro.stars_2
      .center_inline_list.center_inline_list_2
        //- img.fade_up(src='/cms/img/TechKidsLogo.png', alt='TechKids', style="margin-top:75px")
        h3.section_title.col-sm-5.col-xs-9.font_color CÙNG TECHKIDS
        p.section_subtitle.font_color viết những dòng code thay đổi cuộc đời bạn
        div.join_us
          a.btn.btn-primary.col-sm-3.boder_radius_1.col-xs-9.set_width_and_align(href='/khoa-hoc') ANDROID/iOS/WEB/C4E
          a.btn.btn-warning.col-sm-3.boder_radius_1.col-xs-9.set_width_and_align(href='/summer-code-camp') SUMMER CODE CAMP
          a.btn.btn-success.col-sm-3.boder_radius_1.col-xs-9.set_width_and_align(href='/khoa-hoc/code-for-kids') CODE FOR KIDS
    section#about.about_us
      .container
        .fade_up
          
        //-   .row
        //-     .text-center.col-sm-10.col-sm-offset-1.col-xs-12
        //-       | TechKids là một cộng đồng toàn cầu của những người sẵn sàng trở thành những người giỏi nhất, khác biệt nhất trong thế giới Công nghệ. Ở đó, chúng tôi cùng nhau tìm định hướng, học hỏi hết mình, khơi dậy những ước mơ, cố gắng không ngừng và đồng hành với nhau trên hành trình chinh phục Công nghệ cao để thay đổi thế giới!
        .row.text-center
          h3.section_title.col-sm-5.col-xs-9 LÝ DO ĐẾN TECHKIDS
        .row
          .col-sm-12.about_values
            
            .core_value(style="text-align:center")
              .frame_wrapper.fade_up
                img(src='/cms/img/duan.png')
                h5 DỰ ÁN THỰC TẾ 
                p
                  |Những ví dụ và dự án thực tế được sử dụng suốt khóa học.
                  |Trong 1 tháng cuối, bạn sẽ được nhận vào TechKids làm dự án thật dưới sự chỉ dẫn của các mentors dày dạn kinh nghiệm 3-7 năm.
                .text-center
                  a.btn.btn-primary(href="/ve-chung-toi") VỀ CHÚNG TÔI
            .vision(style="text-align:center")
              .frame_wrapper.fade_left
                img(2015='', src='/cms/img/vieclam.png')
                h5 ĐẢM BẢO VIỆC LÀM
                p
                  | TechKids có hơn 30 đối tác: những công ty, startups lớn của ASEAN và US.
                  | Học viên được đào tạo miễn phí tiếng Anh, kỹ năng viết CV, phỏng vấn, kết nối với đối tác và cam kết việc làm sau khóa học.

            .destiny(style="text-align:center")
              .frame_wrapper.fade_right
                img(2015='', src='/cms/img/dauan.jpg')
                h5 DẦU ĂN XUYÊN ĐÊM
                p
                  |Bên cạnh các bài tập nhóm, chúng tôi hỗ trợ các hoạt động code nhóm (ăn ngủ tại TechKids), thường xuyên tổ chức Hackathon 24h – Demo Day để tăng khả năng làm việc nhóm, độ lỳ và làm việc dưới áp lực cao.
                  

    
    section#indeximg.indeximg
        //- hr.content_divider
        .container
          .row.fade_up
    
    section#courses.courses
      .container
        .row.text-center
          h3.section_title.col-sm-5.col-xs-9 CÁC KHÓA HỌC TẠI TECHKIDS
        .row
          .col-sm-3.course_item.fade_scale
            div
              span.course_icon
                a(href="/khoa-hoc/code-for-everyone")
                  img(src='/cms/img/python-round-150rg.png',height="110",width="110")
            h4
              a(href="/khoa-hoc/code-for-everyone") CODE FOR EVERYONE
            p
            | Đem một thứ ngôn ngữ toàn cầu mới trong tương lai của cả thế giới về Việt Nam: ngôn ngữ Lập trình. Đặc biệt dành cho non-Techs (không học Công nghệ thông tin), trẻ em, phụ nữ.
            


          .col-sm-3.course_item.fade_scale.fade_delay_1
            div
              span.course_icon
                a(href="/khoa-hoc/web-fullstack")
                  img(src='/cms/img/icon4.png',height="110",width="110")
            h4 
              a(href="/khoa-hoc/web-fullstack") Full-stack Web
            p
            |Học Lập trình nền tảng và tiếng Anh miễn phí; Front-end, Back-end web bằng NodeJS. Giảng viên 8 - 10 năm kinh nghiệm. Cam kết việc làm sau khóa học. Một lớp học sẽ thay đổi cuộc đời bạn!


          .col-sm-3.course_item.fade_scale.fade_delay_2
            div
              span.course_icon
                a(href="/khoa-hoc/ios")
                  img(src='/cms/img/icon2.png',height="110",width="110")
            h4
              a(href="/khoa-hoc/ios") iOS
            p
              | Học Lập trình nền tảng (Java, OOP) và tiếng Anh miễn phí; tạo ra ứng dụng trên nền tảng iOS. Giảng viên trên 7 năm kinh nghiệm. Cam kết việc làm sau khóa học hoặc tự khởi nghiệp.

          .col-sm-3.course_item.fade_scale.fade_delay_3
            div
              span.course_icon 
                a(href="/khoa-hoc/android")
                  img(src='/cms/img/icon3.png',height="110",width="110")
            h4
              a(href="/khoa-hoc/android") ANDROID
            p
              |Học Lập trình nền tảng (Java, OOP) và tiếng Anh miễn phí; tạo ra ứng dụng trên nền tảng Android. Giảng viên trên 7 năm kinh nghiệm. Cam kết việc làm sau khóa học hoặc tự khởi nghiệp.

        .row
          .col-xs-12.text-center
            //a.btn.btn-primary(href="/portfolio") Sản phẩm học viên
    
          
    section#teachers.stars.teachers
      .row.fade_up
        div(id="myCarousel" class="carousel slide" data-ride="carousel")
          h3.section_title.col-sm-5.col-xs-9 GIẢNG VIÊN.
          // Indicators
          //- ol.carousel-indicators
          //-   li.active(data-target='#myCarousel', data-slide-to='0')
          //-   li(data-target='#myCarousel', data-slide-to='1')
          //-   li(data-target='#myCarousel', data-slide-to='2')
          //-   li(data-target='#myCarousel', data-slide-to='3')
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active(style="background-color:transparent ")
              ul.teachers_list.center_inline_list
                li.fade_scale
                  a(href="/giang-vien/le-hoang-tu") 
                    img(2015='', src='/cms/img/Lehoangtu.jpg')
                  h5
                    a(href="/giang-vien/le-hoang-tu") Lê Hoàng Tú
                  p Project manager at FPT Software
                li.fade_scale
                  a(href="/giang-vien/bui-xuan-canh")
                    img(2015='', src='/cms/img/canh.jpg')
                  h5
                    a(href="/giang-vien/bui-xuan-canh") Bùi Xuân Cảnh
                  p Project manager at FPT Software
                li.fade_scale
                  a(href="/giang-vien/do-anh-tu")
                    img(2015='', src='/cms/img/doanhtu.jpg')
                  h5
                    a(href="/giang-vien/do-anh-tu") Đỗ Anh Tú
                  p Co-founder Haivl.com
                li.fade_scale
                  a(href="/giang-vien/nguyen-tien-dat")
                    img(2015='', src='/cms/img/dat.jpg')
                  h5
                    a(href="/giang-vien/nguyen-tien-dat") Nguyễn Tiến Đạt
                  p Director at PlumGame
            .item(style="background-color:transparent ")
              ul.teachers_list.center_inline_list
                li
                  a(href="/giang-vien/nguyen-si-thanh-son")
                    img(src="/cms/img/thanhson.jpg")
                  h5
                    a(href="/giang-vien/nguyen-si-thanh-son") Nguyễn Sĩ Thanh Sơn
                  p Back-end Developer
                li
                  a(href="/giang-vien/ton-hong-duc")
                    img(src="/cms/img/tonhongduc.jpg")
                  h5
                    a(href="/giang-vien/ton-hong-duc") Tôn Hồng Đức
                  p  Front-end Developer
                li
                  a(href="/giang-vien/cuong-nguyen")
                    img(src="/cms/img/cuong-nguyen.jpg")
                  h5
                    a(href="/giang-vien/cuong-nguyen") Cương Nguyễn
                  p Fullstack Developer
                li
                  a(href="/giang-vien/tran-quang-hiep")
                    img(src="/cms/img/tranquanghiep.jpg")
                  h5
                    a(href="/giang-vien/tran-quang-hiep") Trần Quang Hiệp
                  p Front-end Developer
          // Left and right controls
          a(class="left carousel-control", href='#myCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a(class="right carousel-control", href='#myCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next

                
    section#partners.partners
      .container
        .row.text-center.fade_up
          hr.content_divider
          h3.col-sm-12
            | TechKids tự hào là đối tác chính thức của các tập đoàn hàng đầu Việt Nam và ASEAN
        .row
          ul.partners_list.center_inline_list.col-sm-12
            li
              a(href='https://topica.edu.vn/')
                img.fade_scale(src='/cms/img/PartnersLogo/Topica.png', alt='Topica')
            li
              a(href='https://www.samsung.com/vn/home/')
                img.fade_scale(src='/cms/img/PartnersLogo/Samsung.png', alt='Samsung')
            li
              a(href='http://bkav.com.vn')
                img.fade_scale(src='/cms/img/PartnersLogo/BKAV.png', alt='BKAV')
            li
              a(href='http://tinhvan.vn/')
                img.fade_scale(src='/cms/img/PartnersLogo/TinhVan.png', alt='TinhVan')
            li
              a(href='http://viettel.com.vn/')
                img.fade_scale(src='/cms/img/PartnersLogo/Viettel.png', alt='Viettel')
            li
              a(href='https://www.fpt.com.vn/')
                img.fade_scale(src='/cms/img/PartnersLogo/Fpt.png', alt='FPT')
      hr.content_divider
    section#join_us.join_us.stars.join_us_2
      .container.fade_up
        .row.text-center
          h3.section_title.col-sm-5.col-xs-9 TRẢI NGHIỆM CÙNG TECHKIDS
          p.section_subtitle Cùng viết những dòng code thay đổi cuộc đời bạn
        .row.text-center
          a.btn.btn-primary.btn-outline.col-sm-3.col-sm-3.col-xs-9(href='/khoa-hoc') KHÓA HỌC
          a.btn.btn-primary.btn-outline.col-sm-3.col-xs-9(href='/chuong-trinh') CHƯƠNG TRÌNH

  
    //- section#news.newsevent
    //-   .container
    //-     .row.text-center.fade_up
    //-       h3.section_title.col-sm-5.col-xs-9 TIN TỨC & SỰ KIỆN
    //-   .container.articles_list
    //-     article.row
    //-       .col-sm-4
    //-         .news_thumbnail.fade_scale
    //-           img(2016='', src='{% static ', cms='', img='', uploads='', 01='')
    //-       .col-sm-8.fade_left
    //-         h3.column_title
    //-           a(href='#') Chia sẻ sách cho dân Lập trình viên
    //-         div
    //-           p Chào các bạn
    //-           p
    //-             | TechKids xin gửi tới các bạn những quyển ebook  khá hữu dụng để bạn có thể học một số kỹ năng cần thiết nhé.
    //-           p Download TẠI ĐÂY.
    //-           p
    //-             | P/s: Có rất nhiều bạn lo ngại rằng tiếng Anh không đủ để đọc những cuốn sách bằng tiếng Anh, nếu biết vậy, thì học […]!
    //-         a.see_more_link(href='#')
    //-           | Chi tiết 
    //-           span.fa.fa-chevron-right(aria-hidden='true')
    //-     hr.content_divider
    //-     article.row
    //-       .col-sm-4
    //-         .news_thumbnail.fade_scale
    //-           img(2016='', src='{% static ', cms='', img='', uploads='', 01='')
    //-       .col-sm-8.fade_left
    //-         h3.column_title
    //-           a(href='#') Talkshow: English and IT
    //-         div
    //-           p
    //-             | English and IT - Why, How, What? "English and IT - Why, How, What" là sự kiện được tổ chức bởi câu lạc bộ Tiếng Anh ILEC, trực thuộc Ban Chấp hành Liên Chi Đoàn Viện Cơ Khí - Đại học Bách Khoa Hà Nội. Đây là cơ hội dành cho tất cả các bạn [...]
    //-         a.see_more_link(href='#')
    //-           | Chi tiết 
    //-           span.fa.fa-chevron-right(aria-hidden='true')
    //-     hr.content_divider
    //-     article.row
    //-       .col-sm-4
    //-         .news_thumbnail.fade_scale
    //-           img(12='', 2015='', src='{% static ', cms='', img='', uploads='')
    //-       .col-sm-8.fade_left
    //-         h3.column_title
    //-           a(href='#') How To Become A Customer Acquisition Expert
    //-         div
    //-           p
    //-             | Trích từ bài viết của Brian Balfour – Một Growth Leader, Entrepreneur, & Angel Investor
    //-           p If I Can Do It, You Can Do It
    //-           p
    //-             | I started my career out as a “product guy.”  But about 4 years ago I realized that product was a small piece of the startup puzzle.  I became fascinated with how products were […]
    //-         a.see_more_link(href='#')
    //-           | Chi tiết 
    //-           span.fa.fa-chevron-right(aria-hidden='true')
    
