extends layout

block content
  section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Thông tin giảng viên
          p.section_subtitle ĐẠT NGUYỄN
    section
      .container
        hr.content_divider
        article.row
          .col-sm-4
            .text-center
              .profile_thumbnail
                img(2015='', src='/cms/img/dat.jpg')
            ul
              li
                em Số năm kinh nghiệm: 
                | 6 năm iOS
              li
                em Nơi sống: 
                | Hà Nội
          .col-sm-8
            p Director at PlumGame
            p
              | 6 năm kinh nghiệm code iOS cho thị trường Mỹ, trong đó có Tiny Fly 1+ triệu users
            p
              | Từng làm việc tại FPT Software với khách hàng US, UK, Nhật Bản
            p
              | Nhiều năm làm freelancer với những sản phẩm lên đến 3 triệu users
            p
              | Anh Đạt chia sẻ về các bạn Lập trình viên:
            p
              | “Mình cho rằng các bạn sinh viên Việt Nam thiếu nhất không phải khả năng chuyên môn hay cơ hội tốt, mà đó chính là đam mê. Điều này vô cùng quan trọng mà không nhiều người nhận thức được. Các bạn hành động vì cái lợi trước mắt, vì tiền là phần nhiều chứ không phải vì đam mê. Thiếu đam mê thì chẳng công việc nào trở nên xuất sắc, khác biệt hay bền lâu được.
            p
              | Đơn giản từ Giáo dục của mình, môi trường xã hội từ bé đã không cho một học sinh đi theo thứ mình mong muốn, ít ai có định nghĩa về đam mê lắm. Họ học vì gia đình, xã hội, sau này vì tiền bạc, mà lại vì tiền trước mắt, cho nên sản phẩm họ tạo ra không tệ thì cũng chỉ dừng ở một mức nào đó, rồi làm lâu thì chán.
            p
              | Thế nên khi tham gia vào TechKids, mình chỉ hy vọng được khơi gợi đam mê ở các bạn trẻ theo ngành Lập trình này. Khi đó tự các bạn ấy sẽ trở nên hứng thú, tìm tòi học hỏi, sáng tạo, nỗ lực nhiều hơn và suy nghĩ không còn bị giới hạn nữa. Theo mình, đây là điều kiện tiên quyết của một Lập trình viên giỏi.
            p
              | Một điều nữa, bản thân mình cũng muốn tìm được những bạn thực sự có tiềm năng để tham gia các dự án công nghệ cùng mình, hướng dẫn các bạn ấy và về team của mình. Mình đặc biệt tin tưởng sự tuyển chọn đầu vào của TechKids”

    section
      .container.articles_list
        h3.section_title.col-sm-5.col-xs-9 Các khóa học của ĐẠT NGUYỄN
        article.row
          .col-sm-4
            .news_thumbnail.fade_scale
              a(href='/khoa-hoc/ios')
                img(src='/cms/img/ios.jpg')
          .col-sm-8.fade_left
            h3.column_title
              a(href='/khoa-hoc/ios') Khoá học Lập trình iOS
            div
              p
                | Chúng tôi không chỉ dạy về lập trình, chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
              p Có đủ kỹ năng cần thiết để làm việc ở các công ty IT/dự án toàn cầu.
              p Tự làm sản phẩm, khởi nghiệp vừa và nhỏ
            a.see_more_link(href='/khoa-hoc/ios')
              | Chi tiết 
              span.fa.fa-chevron-right(aria-hidden='true')
             
