extends layout

block content
  section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Thông tin giảng viên
          p.section_subtitle Cương Nguyễn
    section
      .container
        hr.content_divider
        article.row
          .col-sm-4
            .text-center
              .profile_thumbnail
                img(2015='', src='/cms/img/cuong-nguyen.jpg')
            ul
              li
                em Số năm kinh nghiệm: 
                | 6 năm
              li
                em Nơi sống: 
                | Hà Nội
          .col-sm-8
            p 
            |Xuất phát từ lập trình viên Java, tôi đã có 4 năm kinh nhiệm làm các hệ thông back-end từ đơn giản đến vô cùng phức tạp cho các khách hàng lớn trên thế giới: Starhub (Singapore),
            |Tripwire (US), DirecTV(US), Bonnier (Swisden), Sony (japanese).
            p
              | Với mục tiêu trở thành một Fullstack Developer, tôi đã chuyển sang làm front-end được 2 năm, hiện nay tôi đã có đủ kinh nghiệm và kỹ năng để có thê làm tất cả các loại Websites.
            p
              | Các projects mới nhất của tôi hiện tại chủ yếu làm bằng những công nghệ mới nhất như Nodejs, Jade, AngularJS, Mithril, Twiter flight...
            p
              | Một số source code về NodeJS của tôi trên Github: 
            //- p
            //-   | Với kiến thức đã học, mình ấp ủ rất nhiều dự định để có thể có ích cho mọi người, mình muốn viết nên thật nhiều ứng dụng và biến những dòng lệnh thành những công cụ thực tế để có thể giải quyết những vấn đề trong cuộc sống tới đây.
            //- p
            //-   |Đến với Techkids, mình mong muốn được chia sẻ nhiều hơn nữa. Và trên nền tảng những chia sẻ đó, các bạn trẻ sẽ tìm ra con đường riêng của mình, hướng thẳng đến thành công."
            //- 
            //- p 
            //-   | Đến với TechKids, mình mong muốn cùng chia sẻ kiến thức và niềm đam mê của mình dành cho các bạn. Đối với mình, “lập trình” là “sáng tạo” và người lập trình chính là nghệ sĩ. Không quan trọng bạn dùng ngôn ngữ nào, viết cho ai. Điều quan trọng là bạn đã tạo ra ứng dụng của mình và nó có ích cho một ai đó. Đấy mới là điều quan trọng nhất. Chúc các bạn sớm tạo ra những sản phẩm mà mình mong muốn.
            p
              | Github:
              a(href='https://github.com/cuong-nguyen-niteco', target='_blank') https://github.com/cuong-nguyen-niteco
            //- p
            //-   | Github:
            //-   a(href='https://github.com/thanhson1085', target='_blank') github.com/thanhson1085
            
    section
      .container.articles_list
        h3.section_title.col-sm-5.col-xs-9 Các khóa học của anh Cương
        article.row
          .col-sm-4
            .news_thumbnail.fade_scale
              a(href='/khoa-hoc/web-fullstack')
                img(src='/cms/img/fullstack.png')
          .col-sm-8.fade_left
            h3.column_title
              a(href='/khoa-hoc/web-fullstack') Khóa học Lập trình Web Fullstack
            div
              p
                | Học lập trình web Fullstack từ Front-end, Back-end web bằng công nghệ NodeJS mới nhất.
            a.see_more_link(href='/khoa-hoc/web-fullstack')
              | Chi tiết 
              span.fa.fa-chevron-right(aria-hidden='true')
        hr.content_divider
        //- article.row
        //-   .col-sm-4
        //-     .news_thumbnail.fade_scale
        //-       a(href='/khoa-hoc/code-for-everyone')
        //-         img(src='/cms/img/c4e.jpg')
        //-   .col-sm-8.fade_left
        //-     h3.column_title
        //-       a(href='/khoa-hoc/code-for-everyone') Code for everyone
        //-     div
        //-       p
        //-         | Khóa học dành cho những người chưa biết gì về lập trình. Đặc biệt dành cho non-Techs (không học Công nghệ thông tin), trẻ em, phụ nữ.
        //-     a.see_more_link(href='/khoa-hoc/code-for-everyone')
        //-       | Chi tiết 
        //-       span.fa.fa-chevron-right(aria-hidden='true')
        //- hr.content_divider
        
