extends layout

block content
  section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Thông tin giảng viên
          p.section_subtitle Cương Nguyễn
    section
      .container
        hr.content_divider
        article.row
          .col-sm-4
            .text-center
              .profile_thumbnail
                img(2015='', src='/cms/img/cuong-nguyen.jpg')
            ul
              li
                em Số năm kinh nghiệm: 
                | 6 năm
              li
                em Nơi sống: 
                | Hà Nội
          .col-sm-8
            p 
              |Mình là một Fullstack Web Developer, có kinh nhiệm 7 năm trong lĩnh vực Web Development, và đã từng làm việc với rất nhiều đối tác khách hàng từ khắp nơi trên thế giới như Singapore, US, Japanese, Sweden, Saudi Arabia…
            p
              |Một vài chia sẻ của mình:               
            p
              |CNTT chính là niềm đam mê của mình từ bé, và cơ duyên đã đưa mình đến với nghiệp Fullstack web developer. Hiện nay, xu hướng của rất nhiều bạn trẻ là theo ngạch Mobile developer, trong khi đó Web developer có vẻ thoái trào nhưng thực sự là nó đang “cực hot” trong tương lai. 
            p
              | Để trở thành một chuyên gia, điều quan trọng nhất là các bạn phải rèn cho mình thói quen tự học thông qua đọc sách. 
            p
              | Bởi vì công nghệ luôn thay đổi chóng mặt, nếu các bạn không theo kịp thì sẽ bị đào thải
            p
              |Và cuối cùng, đến với Techkids, mình mong muốn được truyền cảm hứng và vốn kinh nghiệm lập trình Web cho các bạn trẻ, để các bạn sớm trở thành một Fullstack web developer trong tương lai.
            p
              | Một số source code về NodeJS của minh trên Github: 
            p
              | Github:
              a(href='https://github.com/cuong-nguyen-thanh', target='_blank') https://github.com/cuong-nguyen-thanh
            
    section
      .container.articles_list
        h3.section_title.col-sm-5.col-xs-9 Các khóa học của Cương Nguyễn
        article.row
          .col-sm-4
            .news_thumbnail.fade_scale
              a(href='/khoa-hoc/web-fullstack')
                img(src='/cms/img/fullstack.png')
          .col-sm-8.fade_left
            h3.column_title
              a(href='/khoa-hoc/web-fullstack') Khóa học Lập trình Web Fullstack
            div
              p
                | Học lập trình web Fullstack từ Front-end, Back-end web bằng công nghệ NodeJS mới nhất.
            a.see_more_link(href='/khoa-hoc/web-fullstack')
              | Chi tiết 
              span.fa.fa-chevron-right(aria-hidden='true')
        hr.content_divider
        //- article.row
        //-   .col-sm-4
        //-     .news_thumbnail.fade_scale
        //-       a(href='/khoa-hoc/code-for-everyone')
        //-         img(src='/cms/img/c4e.jpg')
        //-   .col-sm-8.fade_left
        //-     h3.column_title
        //-       a(href='/khoa-hoc/code-for-everyone') Code for everyone
        //-     div
        //-       p
        //-         | Khóa học dành cho những người chưa biết gì về lập trình. Đặc biệt dành cho non-Techs (không học Công nghệ thông tin), trẻ em, phụ nữ.
        //-     a.see_more_link(href='/khoa-hoc/code-for-everyone')
        //-       | Chi tiết 
        //-       span.fa.fa-chevron-right(aria-hidden='true')
        //- hr.content_divider
        
