extends layout
block content
  section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Sản phẩm của học viên
          p.section_subtitle Kết quả của từng chương trình
    section.portfolio_item
      .container
        .row
          .col-sm-6
            .portfolio_demo.portfolio_iphone
              img(src='{% static ', cms='', img='')
          .col-sm-6
            h2.column_title Game Rắn
            p
              em Của anh Vát
            p
            p Hay vl luôn các bạn ạ!
            h4 CÔNG NGHỆ
            p.portfolio_technologies Copapasta, Googling, Stackoverflow Asking
    section.portfolio_item
      .container
        .row
          .col-sm-6.fly_right
            .portfolio_demo.portfolio_iphone
              img(src='{% static ', cms='', img='')
          .col-sm-6.fly_right
            h2.column_title Game Rắn
            p
              em Của anh Vát
            p
            p Hay vl luôn các bạn ạ!
            h4 CÔNG NGHỆ
            p.portfolio_technologies Copapasta, Googling, Stackoverflow Asking
    section.portfolio_item
      .container
        .row
          .col-sm-6
            .portfolio_demo.portfolio_iphone_horizontal
              img(src='{% static ', cms='', img='')
          .col-sm-6
            h2.column_title Game Rắn
            p
              em Của anh Vát
            p
            p Hay vl luôn các bạn ạ!
            h4 CÔNG NGHỆ
            p.portfolio_technologies Copapasta, Googling, Stackoverflow Asking
    section.portfolio_item
      .container
        .row
          .col-sm-6.fly_right
            .portfolio_demo.portfolio_iphone_horizontal
              img(src='{% static ', cms='', img='')
          .col-sm-6.fly_right
            h2.column_title Game Rắn
            p
              em Của anh Vát
            p
            p Hay vl luôn các bạn ạ!
            h4 CÔNG NGHỆ
            p.portfolio_technologies Copapasta, Googling, Stackoverflow Asking
